#flash-messages {
    background-color: $blue;
    color: $white;
    text-align: center;
    font-weight: bold;
    overflow: hidden;

    li {
        border-top: 5px solid $blue;
        padding: 0.25em 0;
    }

    height: 0;
    transition: 400ms ease all;

    &.ng-hide-remove {
        height: 2em;
        transition: 1500ms all;
    }
}



header {
    @include clearfix;
    border-top: 5px solid $blue;
    background-color: $light-grey;

    .shell {

    }

    #menu-toggle-value + div {
        display: none;

        @include breakpoint($tablet) {
            display: block;
        }
    }

    #menu-toggle-value:checked + div {
        display: block;
    }

    ul {
        margin-left: -16px;
        margin-right: -16px;
        text-align: right;
        background-color: $blue;

        li {
            display: inline;
            position: relative;

            a {
                color: $white;
                text-align: center;
                display: block;
                padding: 1.25em 1em;
                width: 100%;
                font-size: 1.2em;

                &.icon {
                    padding-left: 3.5em;
                }

                &:hover {
                    color: $blue;
                    background-color: $white;

                    @include breakpoint($tablet) {
                        color: $dark-blue;
                        background-color: transparent;
                    }
                }

                img {
                    max-width: 2em;
                    border-radius: 1em;
                    margin-right: 0.5em;
                    left: 1em;
                    margin-top: -0.5em;
                    position: absolute;
                }

                &.drop {
                    padding-right: 1.9em;
                    display: none;

                    @include breakpoint($tablet) {
                        display: inline-block;
                    }

                    &:after {
                        @include add-arrow(down, 0.4em);
                    }
                }
            }

            &.dropped {

                > a {
                    background-color: $white;
                    color: $dark-blue;
                }
                    
                .dropdown {
                    display: block;
                }
            }
        }

        &.dropdown {
            margin: 0;
            padding: 0;
            width: 100%;
            z-index: 1;

            li a {
                display: block;

                @include breakpoint($tablet) {
                    text-align: left;
                }
            }
        }

        &.home li a {
            border-radius: 0.25em;

            &:hover {
                background-color: $white;
                color: $blue;
            }
        }

        @include breakpoint($tablet) {
            @include grid-span(24,1);
            margin-left: 0;
            margin-right: 0;
            background-color: transparent;

            li a {
                color: $blue;
                display: inline-block;
                width: auto;
                background-color: transparent;
                border-radius: none;
                font-size: 1em;

                &.selected {
                    background-color: $white;
                    color: $dark-blue;
                }
            }

            &.dropdown {
                background-color: $light-grey;
                position: absolute;
                display: none;
                right: 0;
                text-align: left;
                box-shadow: 0 3px 12px rgba(0, 0, 0, 0.25);
            }

            &.home {
                margin-top: 0.5em;
                margin-bottom: 0.5em;

                li a {
                    &:hover {
                        background-color: transparent;
                        color: $light-blue;
                    }

                    &.important {
                        border: 3px $white solid;
                        border-radius: 0.6em;
                        padding: 0.25em 1em;

                        &:hover {
                            background-color: $white;
                            color: $blue;
                        }
                    }
                }
            }
        }
    }

    .logo {
        @include grid-span(4,1);
        margin-top: 0.75em;

        @include breakpoint($tablet) {
            position: absolute;
        }

        img {
            max-height: 36px;

            @include breakpoint($tablet) {
                max-height: 33px;
            }

            @include breakpoint($desktop) {
                max-height: 35px;
            }

            @include breakpoint($desktop-medium) {
                max-height: 37px;
            }

            @include breakpoint($desktop-large) {
                max-height: 41px;
            }

            @include breakpoint($desktop-extra-large) {
                max-height: 43px;
            }
        }
    }

    #menu-toggle {
        color: $blue;
        cursor: pointer;
        float: right;
        margin-top: 1em;

        span {
            font-size: 2em;
        }
    
        @include breakpoint($tablet) {
            display: none;
        }
    }

    #menu-toggle-value {
        visibility: hidden;
        height: 0;
        width: 0;
        position: absolute;
    }
}