section.subscribe {
    fieldset {
        @include layout(24) {
            @include grid-span(24,1);
            clear: both;

            @include breakpoint($desktop) {
                @include grid-span(16,5);
                clear: both;
            }
        }
    }

    label {
        @include grid-span(6,1);
    }

    input, .error {
        @include grid-span(18,7);
    }

    input.month {
        @include grid-span(3,7);
    }

    input.year {
        @include grid-span(3,10);
    }

    input.cvc {
        @include grid-span(4,7);
    }

    button {
        @include grid-span(12,7);
    }

    @include breakpoint($tablet) {
        input.year {
            margin-top: 0;
        }
    }
}