{{#if operator}}
<li class="rule-group-heading">
    <select>
        {{#@root.operators}}
            <option {{#ifEquals ../operator .}}selected="selected"{{/ifEquals}}>{{.}}</option>
        {{/@root.operators}}
    </select>
    of the following rules:
</li>
{{/if}}
{{#if rules}}
<ul class="rule-group">
    {{#rules}}
    {{#if operator}}
        {{> filter_tree}}
    {{/if}}
    {{#unless operator}}
    <li class="rule">
        <select class="field">
            {{#@root.fields}}
                <option {{#ifEquals ../field title}}selected="selected"{{/ifEquals}}>{{title}}</option>
            {{/@root.fields}}
        </select>
        <select class="choice">
            {{#choices ../field}}
                <option {{#ifEquals ../choice .}}selected="selected"{{/ifEquals}}>{{.}}</option>
            {{/choices}}
        <select>
        {{#value ../field}}
        <input type="text" value="{{value}}"/>
        {{/value}}
        <div class="buttons">
            <button>
                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
            </button>
            <button>
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
            <button>
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            </button>
        </div>
    </li>
    {{/unless}}
    {{/rules}}
</ul>
{{/if}}