            <header>
                <nav>
                    <ul>
                        <li><a href="">Add Drupal sites</a></li><li><a href="" class="drop"><img src="/img/avatar.jpg" alt=""/>Signed in as {{user.username}}</a><ul class="dropdown">
                            <li><a href="">Profile</a></li>
                            <li><a href="">Settings</a></li>
                            <li><a href="/signoff">Sign off</a></li>
                        </ul></li>
                    </ul>
                </nav>
            </header>
