# Sass
.sass-cache

# Node
npm-debug.log
node_modules

# Bower
bower_components

# Source maps
static/css/*.map
static/js/*.map

# Compiled and minified JS
static/js/scripts.js
static/js/*.min.js

# Environment-specific configuration
config.json
static/js/config.js