<!doctype html>
<html lang="en" ng-app="dewy">
    <head>
        <base href="/">
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="https://use.typekit.net/nxo7wkc.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
        <link rel="stylesheet" href="/css/styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
        <script src="/js/app.js"></script>
        <script src="/js/services.js"></script>
        <script src="/js/factories.js"></script>
        <script src="/js/controllers.js"></script>
        <script src="/js/scripts.js"></script>
    </head>
    <body ng-controller="appController">
        <div class="wrapper">
            <header>
                <nav>
                    <ul>
                        <li><a href="">Add Drupal sites</a></li><li><a href="" class="drop"><img src="/img/avatar.jpg" alt=""/>Signed in as {{user.username}}</a><ul class="dropdown">
                            <li><a href="">Profile</a></li>
                            <li><a href="">Settings</a></li>
                            <li><a href="/signoff" target="_self">Sign off</a></li>
                        </ul></li>
                    </ul>
                </nav>
                <div class="logo">
                    <h1>
                        <a href="/"><img src="/img/dewy.png" alt="Dewy"></a>
                    </h1>
                </div>
            </header>
            <section class="app" ng-view>
            </section>
            <footer>
                <ul>
                    <li><span>&copy; 2015 Dewy</span></li>
                    <li><a href="">Contact</a></li>
                    <li><a href="">Help</a></li>
                </ul>
            </footer>
        </div>
    </body>
</html>
