<!doctype html>
<html lang="en">
    <head>
        <base href="/">
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="https://use.typekit.net/nxo7wkc.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body class="index">
        <div class="wrapper">
            <header>
                <nav>
                    <ul>
                        <li><a href="">Sign up</a></li><li><a href="/signon">Sign on</a></li>
                    </ul>
                </nav>
                <div class="logo">
                    <h1>
                        <a href="/"><img src="/img/dewy-white.png" alt="Dewy"></a>
                    </h1>
                </div>
            </header>
            {{{body}}}
            <footer>
                <ul>
                    <li><span>&copy; 2015 Dewy</span></li>
                    <li><a href="">Contact</a></li>
                    <li><a href="">Help</a></li>
                </ul>
            </footer>
        </div>
    </body>
</html>
