---
layout: compress
---

<label><input type="checkbox" ng-model="currentFilter.notifications.appears.enabled" /><span>Send an email when a site first meets the criteria of this filter</span></label>

<label><input type="checkbox" ng-model="currentFilter.notifications.disappears.enabled" /><span>Send an email when a site no longer meets the criteria of this filter</span></label>

<label><input type="checkbox" ng-model="currentFilter.notifications.total.enabled" /><span>Send an email when the total number of sites on the filter changes and </span></label>

<div class="choices">
    <select ng-model="currentFilter.notifications.total.choice" ng-init="currentFilter.notifications.total.choice=notificationChoices[0]"  ng-options="choice as choice for choice in notificationChoices"></select>
    <input name="value" type="number" ng-model="currentFilter.notifications.total.value" min="0" ng-required="currentFilter.notifications.total.enabled" />
    <div class="error">
        <span ng-show="notificationForm.value.$error.required && (notificationForm.value.$touched || filterForm.$submitted)">Please enter a value.</span>
        <span ng-show="notificationForm.value.$error.number">You must enter a number.</span>
        <span ng-show="notificationForm.value.$error.min">The value cannot be less than 0.</span>
    </div>
</div>