---
layout: compress
---
<div class="content" ng-controller="overviewSitesController">
    <div class="header">
        <ul class="site">
            <li class="title"><a href="" ng-class="{selected: sort.column=='title', desc: sort.descending, asc: !sort.descending}" ng-click="changeSorting('title')">{(filteredSites.length)} sites</a></li>
            <ul class="variables">
                <li class="complexity"><a href="" ng-if="!currentUser.subscription.expired" ng-class="{selected: sort.column=='complexity', desc: sort.descending, asc: !sort.descending}" ng-click="changeSorting('complexity')">Complexity</a><span ng-if="currentUser.subscription.expired">Complexity</span></li>
                <li class="size"><a href="" ng-if="!currentUser.subscription.expired" ng-class="{selected: sort.column=='size', desc: sort.descending, asc: !sort.descending}" ng-click="changeSorting('size')">Size</a><span ng-if="currentUser.subscription.expired">Size</span></li>
                <li class="activity"><a href="" ng-if="!currentUser.subscription.expired" ng-class="{selected: sort.column=='activity', desc: sort.descending, asc: !sort.descending}" ng-click="changeSorting('activity')">Activity</a><span ng-if="currentUser.subscription.expired">Activity</span></li>
                <li class="health"><a href="" ng-if="!currentUser.subscription.expired" ng-class="{selected: sort.column=='health', desc: sort.descending, asc: !sort.descending}" ng-click="changeSorting('health')">Health</a><span ng-if="currentUser.subscription.expired">Health</span></li>
            </ul>
        </ul>
    </div>
    <div class="sites">
        <div ng-if="!filteredSites.length" class="noresults">
            <span ng-if="!query && !currentFilter"><i class="fa fa-exclamation-triangle"></i> You haven't added any sites to Dewy. <a href="/manage" ng-if="!currentUser.subscription.expired">Manage your sites.</a></span>
            <span ng-if="!query && currentFilter"><i class="fa fa-exclamation-triangle"></i> No sites meet your filter criteria. <a href="/filter/{(currentFilter.fid)}" ng-if="!currentUser.subscription.expired">Edit your filter.</a></span>            
            <span ng-if="query"><i class="fa fa-exclamation-triangle"></i> Your search returned no results.</span>
        </div>
        <div ng-repeat="site in filteredSites = (sites | filter:query) | orderBy:sort.column:sort.descending" class="site">
            <ul class="site">
                <li class="title" ng-class="{open: openSite.sid == site.sid && openSite.detail == 'meta'}"><a href="" ng-if="!currentUser.subscription.expired" ng-click="openDetails(sites.indexOf(site), 'meta')"><span class="title"><div class="point" ng-if="site.tags.length"></div>{(site.title)}</span></a><p ng-if="currentUser.subscription.expired"><span class="title">{(site.title)}</span></p></li>
                <ul class="variables">
                    <li class="complexity" ng-class="{open: openSite.sid == site.sid && openSite.detail == 'complexity'}">
                        <a href="" ng-if="!currentUser.subscription.expired" ng-click="openDetails(sites.indexOf(site), 'complexity')"><div class="point" ng-repeat="i in getNumber(site.complexity) track by $index"></div></a>
                    </li>
                    <li class="size" ng-class="{open: openSite.sid == site.sid && openSite.detail == 'size'}">
                        <a href="" ng-if="!currentUser.subscription.expired" ng-click="openDetails(sites.indexOf(site), 'size')"><div class="point" ng-repeat="i in getNumber(site.size) track by $index"></div></a>
                    </li>
                    <li class="activity" ng-class="{open: openSite.sid == site.sid && openSite.detail == 'activity'}">
                        <a href="" ng-if="!currentUser.subscription.expired" ng-click="openDetails(sites.indexOf(site), 'activity')"><div class="point" ng-repeat="i in getNumber(site.activity) track by $index"></div></a>
                    </li>
                    <li class="health health-{(getFloor(site.health).length)}" ng-class="{open: openSite.sid == site.sid && openSite.detail == 'health'}">
                        <a href="" ng-if="!currentUser.subscription.expired" ng-click="openDetails(sites.indexOf(site), 'health')"><div class="point" ng-repeat="i in getFloor(site.health) track by $index"></div></a>
                    </li>
                </ul>
            </ul>
            <div class="detail-view" ng-if="openSite.sid == site.sid">
                <ul ng-if="openSite.detail == 'meta'">
                    <li>
                        <h3>Site live at <a href="{(site.baseurl)}" target="_blank">{(site.baseurl)}</a></h3>
                    </li>
                    <li>
                        <h3>Site added to Dewy <span am-time-ago="openSite.dateAdded * 1000" class="number"></span></h3>
                    </li>
                    <li>
                        <h3><span class="number">{(openSite.tags.length)}</span> tags assigned</h3>
                        <ul class="items" ng-if="openSite.tags.length">
                            <li ng-repeat="tag in openSite.tags" class="tag">{(tag)} <a href="" ng-click="deleteTag($index, sites.indexOf(site))"><i class="fa fa-times"></i></a></li>
                        </ul>
                    </li>
                    <li>
                        <form name="tagForm{(sites.indexOf(site))}" ng-submit="addTags(sites.indexOf(site))">
                            <input placeholder="Tags seperated by commas" name="tags" ng-model="tags" required />
                            <button type="submit">Add tags</button>
                            <span class="error" ng-show="tagForm{(sites.indexOf(site))}.tags.$error.required && (tagForm{(sites.indexOf(site))}.tags.$touched || tagForm{(sites.indexOf(site))}.$submitted)">Please enter a tag.</span>
                        </form>
                    </li>
                </ul>
                <ul ng-if="openSite.detail == 'complexity'">
                    <li>
                        <h3><span class="number">{(openSite.attributes.enabledModules)}</span> modules enabled</h3>
                        <ul class="items" ng-if="openSite.details.enabledModules.length">
                            <li ng-repeat="item in openSite.details.enabledModules">{(item)}</li>
                        </ul>
                    </li>
                    <li>
                        <h3><span class="number">{(openSite.attributes.availableModules)}</span> modules available</h3>
                        <ul class="items" ng-if="openSite.details.availableModules.length">
                            <li ng-repeat="item in openSite.details.availableModules">{(item)}</li>
                        </ul>
                    </li>
                    <li>
                        <h3><span class="number">{(openSite.attributes.contentTypes)}</span> content types</h3>
                        <ul class="items" ng-if="openSite.details.contentTypes.length">
                            <li ng-repeat="item in openSite.details.contentTypes">{(item)}</li>
                        </ul>
                    </li>
                    <li>
                        <h3><span class="number">{(openSite.attributes.roles)}</span> roles</h3>
                        <ul class="items" ng-if="openSite.details.roles.length">
                            <li ng-repeat="item in openSite.details.roles">{(item)}</li>
                        </ul>
                    </li>
                </ul>
                <ul ng-if="openSite.detail == 'size'">
                    <li>
                        <h3><span class="number">{(openSite.attributes.nodes)}</span> nodes</h3>
                    </li>
                    <li>
                        <h3><span class="number">{(openSite.attributes.users)}</span> users</h3>
                        <ul class="items" ng-if="openSite.details.users.length">
                            <li ng-repeat="item in openSite.details.users">{(item)}</li>
                        </ul>
                    </li>
                    <li>
                        <h3><span class="number">{(openSite.attributes.files)}</span> files</h3>
                    </li>
                    <li>
                        <h3><span class="number">{(openSite.attributes.words)}</span> words</h3>
                    </li>
                    <li>
                        <h3><span class="number">{(openSite.attributes.diskSpace)}</span> MB disk size</h3>
                    </li>
                </ul>
                <ul ng-if="openSite.detail == 'activity'">
                    <li>
                        <h3><span class="number">{(openSite.attributes.hitsPerDay)}</span> hits per day</h3>
                    </li>
                    <li>
                        <h3>Last modification to the site was <span am-time-ago="openSite.attributes.lastModified * 1000"  class="number"></span></h3>
                    </li>
                    <li>
                        <h3>Last modification for an average node was <span am-time-ago="openSite.attributes.avgLastModified * 1000"  class="number"></span></h3>
                    </li>
                    <li>
                        <h3>Last log in to the site was <span am-time-ago="openSite.attributes.lastAccess * 1000" class="number"></span></h3>
                    </li>
                    <li>
                        <h3>Last log in for an average user was <span am-time-ago="openSite.attributes.avgLastAccess * 1000" class="number"></span></h3>
                    </li>
                </ul>
                <ul ng-if="openSite.detail == 'health'">
                    <li>
                        <h3><span class="number">{(openSite.attributes.projectsWithSecurityUpdates)}</span> projects have security updates</h3>
                        <ul class="items" ng-if="openSite.details.projectsWithSecurityUpdates.length">
                            <li ng-repeat="item in openSite.details.projectsWithSecurityUpdates"><a href="https://www.drupal.org/project/{(item)}" target="_blank">{(item)}</a></li>
                        </ul>
                    </li>
                    <li>
                        <h3><span class="number">{(openSite.attributes.projectsWithUpdates)}</span> projects have updates</h3>
                        <ul class="items" ng-if="openSite.details.projectsWithUpdates.length">
                            <li ng-repeat="item in openSite.details.projectsWithUpdates"><a href="https://www.drupal.org/project/{(item)}" target="_blank">{(item)}</a></li>
                        </ul>
                    </li>
                    <li>
                        <h3><span class="number">{(openSite.attributes.databaseUpdates)}</span> modules with database updates pending</h3>
                        <ul class="items" ng-if="openSite.details.databaseUpdates.length">
                            <li ng-repeat="item in openSite.details.databaseUpdates">{(item)}</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>