---
layout: compress
---
<div class="content" ng-controller="overviewModulesController">
    <div class="header">
        <ul class="site">
            <li class="title"><a href="" ng-class="{selected: sort.column=='m', desc: sort.descending, asc: !sort.descending}" ng-click="changeSorting('m')">{(filteredModules.length)} modules</a></li>
            <ul class="variables">
                <li class="availability"><a href="" ng-class="{selected: sort.column=='availability', desc: sort.descending, asc: !sort.descending}" ng-click="changeSorting('availability')">Availablity</a></li>
                <li class="utilization"><a href="" ng-class="{selected: sort.column=='utilization', desc: sort.descending, asc: !sort.descending}" ng-click="changeSorting('utilization')">Utilization</a></li>
                <li class="uniformity"><a href="" ng-class="{selected: sort.column=='uniformity', desc: sort.descending, asc: !sort.descending}" ng-click="changeSorting('uniformity')">Uniformity</a></li>
                <li class="health"><a href="" ng-class="{selected: sort.column=='health', desc: sort.descending, asc: !sort.descending}" ng-click="changeSorting('health')">Health</a></li>
            </ul>
        </ul>
    </div>
    <div class="sites">
        <div ng-if="!filteredModules.length" class="noresults">
            <span ng-if="!query && !currentFilter"><i class="fa fa-exclamation-triangle"></i> You haven't added any sites with modules to Dewy. <a href="/manage">Manage your sites.</a></span>
            <span ng-if="!query && currentFilter"><i class="fa fa-exclamation-triangle"></i> No sites meet your filter criteria. <a href="/filter/{(currentFilter.fid)}">Edit your filter.</a></span>            
            <span ng-if="query"><i class="fa fa-exclamation-triangle"></i> Your search returned no results.</span>
        </div>
        <div ng-repeat="module in filteredModules = (moduleData.modules | filter:query) | orderBy:sort.column:sort.descending" class="site">
            <ul class="site">
                <li class="title" ng-class="{open: openModule.m == module.m&& openModule.detail == 'meta'}"><a href="" ng-click="openDetails(moduleData.modules.indexOf(module), 'meta')"><span class="title">{(module.m)}</span></a></li>
                <ul class="variables">
                    <li class="availability" ng-class="{open: openModule.m == module.m&& openModule.detail == 'availability'}">
                        <a href="" ng-click="openDetails(moduleData.modules.indexOf(module), 'availability')"><div class="point" ng-repeat="i in getFloor(module.availability) track by $index"></div></a>
                    </li>
                    <li class="utilization" ng-class="{open: openModule.m == module.m&& openModule.detail == 'utilization'}">
                        <a href="" ng-click="openDetails(moduleData.modules.indexOf(module), 'utilization')"><div class="point" ng-repeat="i in getFloor(module.utilization) track by $index"></div></a>
                    </li>
                    <li class="uniformity opinionated-{(getFloor(module.uniformity).length)}" ng-class="{open: openModule.m == module.m&& openModule.detail == 'uniformity'}">
                        <a href="" ng-click="openDetails(moduleData.modules.indexOf(module), 'uniformity')"><div class="point" ng-repeat="i in getFloor(module.uniformity) track by $index"></div></a>
                    </li>
                    <li class="health opinionated-{(getFloor(module.health).length)}" ng-class="{open: openModule.m == module.m&& openModule.detail == 'health'}">
                        <a href="" ng-click="openDetails(moduleData.modules.indexOf(module), 'health')"><div class="point" ng-repeat="i in getFloor(module.health) track by $index"></div></a>
                    </li>
                </ul>
            </ul>
            <div class="detail-view" ng-if="openModule.m == module.m">
                <ul ng-if="openModule.detail == 'meta'">
                    <li ng-if="module.details.p">
                        <h3>Module is part of project <a href="https://www.drupal.org/project/{(module.details.p)}" target="_blank">{(module.details.p)}</a></h3>
                    </li>
                    <li ng-if="module.details.p">
                        <h3>Maintenance status: {(getProjectDetail(module.details.p + '-' + module.details.c, 'maintenanceStatus'))}</h3>
                    </li>
                    <li ng-if="module.details.p">
                        <h3>Development status: {(getProjectDetail(module.details.p + '-' + module.details.c, 'developmentStatus'))}</h3>
                    </li>
                    <li ng-if="!module.details.p">
                        <h3>Module is not a part of any Drupal.org registered project</a></h3>
                    </li>
                </ul>
                <ul ng-if="openModule.detail == 'availability'">
                    <li>
                        <h3><ng-pluralize count="{(openModule.attributes.sitesWithAvailable)}" when="{'0': 'No sites where the module is available', '1': '1 site where the module is available', 'other': '{} sites where the module is available'}"></ng-pluralize> (out of {(moduleData.siteTotal)})</h3>
                        <ul class="items" ng-if="openModule.details.a.length">
                            <li ng-repeat="item in openModule.details.a | orderBy">{(item)}</li>
                        </ul>
                    </li>
                </ul>
                <ul ng-if="openModule.detail == 'utilization'">
                    <li>
                        <h3><ng-pluralize count="{(openModule.attributes.sitesWithEnabled)}" when="{'0': 'No sites where the module is enabled', '1': '1 site where the module is enabled', 'other': '{} sites where the module is enabled'}"></ng-pluralize> (out of {(openModule.attributes.sitesWithAvailable)} where it is available)</h3>
                        <ul class="items" ng-if="openModule.details.e.length">
                            <li ng-repeat="item in openModule.details.e | orderBy">{(item)}</li>
                        </ul>
                    </li>
                </ul>
                <ul ng-if="openModule.detail == 'uniformity'">
                    <li>
                        <h3><ng-pluralize count="{(openModule.attributes.versions)}" when="{'0': 'No versions on your sites', '1': '1 version on your sites', 'other': '{} versions on your sites'}"></ng-pluralize></h3>
                    </li>
                    <li ng-repeat="(item, value) in openModule.details.v | orderBy">
                        <h3><ng-pluralize count="{(value.length)}" when="{'0': 'No sites', '1': '1 site', 'other': '{} sites'}"></ng-pluralize> using version <a href="https://www.drupal.org/project/{(module.details.p)}/releases/{(item)}" target="_blank">{(item)}</a></h3>
                        <ul class="items" ng-if="value.length">
                            <li ng-repeat="item in value | orderBy">{(item)}</li>
                        </ul>
                    </li>
                </ul>
                <ul ng-if="openModule.detail == 'health'">
                    <li>
                        <h3><ng-pluralize count="{(openModule.attributes.sitesWithSecurityUpdates)}" when="{'0': 'No sites with security updates', '1': '1 site with security updates', 'other': '{} sites with security updates'}"></ng-pluralize></h3>
                        <ul class="items" ng-if="openModule.details.s.length">
                            <li ng-repeat="item in openModule.details.s | orderBy">{(item)}</li>
                        </ul>
                    </li>
                    <li>
                        <h3><ng-pluralize count="{(openModule.attributes.sitesWithUpdates)}" when="{'0': 'No sites with updates', '1': '1 site with updates', 'other': '{} sites with updates'}"></ng-pluralize></h3>
                        <ul class="items" ng-if="openModule.details.u.length">
                            <li ng-repeat="item in openModule.details.u | orderBy">{(item)}</li>
                        </ul>
                    </li>
                    <li>
                        <h3><ng-pluralize count="{(openModule.attributes.sitesWithDatabaseUpdates)}" when="{'0': 'No sites with pending database updates', '1': '1 site with pending database updates', 'other': '{} sites with pending database updates'}"></ng-pluralize></h3>
                        <ul class="items" ng-if="openModule.details.d.length">
                            <li ng-repeat="item in openModule.details.d | orderBy">{(item)}</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>