---
layout: compress
---
<div class="content" ng-controller="overviewModulesController">
    <div class="header">
        <ul class="site">
            <li class="title"><a href="" ng-class="{selected: sort.column=='module', desc: sort.descending, asc: !sort.descending}" ng-click="changeSorting('module')">{(filteredModules.length)} modules</a></li>
            <ul class="variables">
                <li class="availability"><a href="" ng-class="{selected: sort.column=='availability', desc: sort.descending, asc: !sort.descending}" ng-click="changeSorting('availability')">Availablity</a></li>
                <li class="utilization"><a href="" ng-class="{selected: sort.column=='utilization', desc: sort.descending, asc: !sort.descending}" ng-click="changeSorting('utilization')">Utilization</a></li>
                <li class="uniformity"><a href="" ng-class="{selected: sort.column=='uniformity', desc: sort.descending, asc: !sort.descending}" ng-click="changeSorting('uniformity')">Uniformity</a></li>
                <li class="health"><a href="" ng-class="{selected: sort.column=='health', desc: sort.descending, asc: !sort.descending}" ng-click="changeSorting('health')">Health</a></li>
            </ul>
        </ul>
    </div>
    <div class="sites">
        <div ng-if="!filteredModules.length" class="noresults">
            <span ng-if="!query && !currentFilter"><i class="fa fa-exclamation-triangle"></i> You haven't added any sites with modules to Dewy. <a href="/manage">Manage your sites.</a></span>
            <span ng-if="!query && currentFilter"><i class="fa fa-exclamation-triangle"></i> No sites meet your filter criteria. <a href="/filter/{(currentFilter.fid)}">Edit your filter.</a></span>            
            <span ng-if="query"><i class="fa fa-exclamation-triangle"></i> Your search returned no results.</span>
        </div>
        <div ng-repeat="module in filteredModules = (moduleData.modules | filter:query) | orderBy:sort.column:sort.descending" class="site">
            <ul class="site">
                <li class="title" ng-class="{open: openModule.module == module.module && openModule.detail == 'meta'}"><a href="" ng-click="openDetails(moduleData.modules.indexOf(module), 'meta')"><span class="title">{(module.module)}</span></a></li>
                <ul class="variables">
                    <li class="availability" ng-class="{open: openModule.module == module.module && openModule.detail == 'availability'}">
                        <a href="" ng-click="openDetails(moduleData.modules.indexOf(module), 'availability')"><div class="point" ng-repeat="i in getNumber(module.availability) track by $index"></div></a>
                    </li>
                    <li class="utilization" ng-class="{open: openModule.module == module.module && openModule.detail == 'utilization'}">
                        <a href="" ng-click="openDetails(moduleData.modules.indexOf(module), 'utilization')"><div class="point" ng-repeat="i in getNumber(module.utilization) track by $index"></div></a>
                    </li>
                    <li class="uniformity opinionated-{(getFloor(module.uniformity).length)}" ng-class="{open: openModule.module == module.module && openModule.detail == 'uniformity'}">
                        <a href="" ng-click="openDetails(moduleData.modules.indexOf(module), 'uniformity')"><div class="point" ng-repeat="i in getNumber(module.uniformity) track by $index"></div></a>
                    </li>
                    <li class="health opinionated-{(getFloor(module.health).length)}" ng-class="{open: openModule.module == module.module && openModule.detail == 'health'}">
                        <a href="" ng-click="openDetails(moduleData.modules.indexOf(module), 'health')"><div class="point" ng-repeat="i in getFloor(module.health) track by $index"></div></a>
                    </li>
                </ul>
            </ul>
            <div class="detail-view" ng-if="openModule.module == module.module">
                <ul ng-if="openModule.detail == 'meta'">
                    <li>
                        <h3>Module is part of project <a href="https://www.drupal.org/project/{(module.project)}" target="_blank">{(module.project)}</a></h3>
                    </li>
                </ul>
                <ul ng-if="openModule.detail == 'availability'">
                    <li>
                        <h3><span class="number">{(openModule.sitesWithAvailable.length)}</span> sites where the module is available (out of {(moduleData.siteTotal)})</h3>
                        <ul class="items" ng-if="openModule.sitesWithAvailable.length">
                            <li ng-repeat="item in openModule.sitesWithAvailable">{(item)}</li>
                        </ul>
                    </li>
                </ul>
                <ul ng-if="openModule.detail == 'utilization'">
                    <li>
                        <h3><span class="number">{(openModule.sitesWithEnabled.length)}</span> sites where the module is enabled (out of {(openModule.sitesWithAvailable.length)} where it is available)</h3>
                        <ul class="items" ng-if="openModule.sitesWithEnabled.length">
                            <li ng-repeat="item in openModule.sitesWithEnabled">{(item)}</li>
                        </ul>
                    </li>
                </ul>
                <ul ng-if="openModule.detail == 'uniformity'">
                    <li>
                        <h3><span class="number">{(openModule.attributes.versions)}</span> versions on your sites</h3>
                    </li>
                    <li ng-repeat="(item, value) in openModule.versions">
                        <h3><span class="number">{(value.length)}</span> sites using version {(item)}</h3>
                        <ul class="items" ng-if="value.length">
                            <li ng-repeat="item in value">{(item)}</li>
                        </ul>
                    </li>
                </ul>
                <ul ng-if="openModule.detail == 'health'">
                    <li>
                        <h3><span class="number">{(openModule.sitesWithSecurityUpdates.length)}</span> sites with security updates</h3>
                        <ul class="items" ng-if="openModule.sitesWithSecurityUpdates.length">
                            <li ng-repeat="item in openModule.sitesWithSecurityUpdates">{(item)}</li>
                        </ul>
                    </li>
                    <li>
                        <h3><span class="number">{(openModule.sitesWithUpdates.length)}</span> sites with updates</h3>
                        <ul class="items" ng-if="openModule.sitesWithUpdates.length">
                            <li ng-repeat="item in openModule.sitesWithUpdates">{(item)}</li>
                        </ul>
                    </li>
                    <li>
                        <h3><span class="number">{(openModule.sitesWithDatabaseUpdates.length)}</span> sites with pending database updates</h3>
                        <ul class="items" ng-if="openModule.sitesWithDatabaseUpdates.length">
                            <li ng-repeat="item in openModule.sitesWithDatabaseUpdates">{(item)}</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>