---
layout: compress
---
<div class="shell">
    <section class="main">
        <h2>Your subscription, {(currentUser.username)}</h2>
        <section class="subscription">
            <h3>Details</h3>
            <ul>
                <li>You signed up with Dewy on <strong>{(currentUser.created*1000 | date:'MMMM d, yyyy')}</strong></li>
                <li ng-if="!currentUser.subscription.expired && currentUser.subscription.subscriptionID">You are on the <strong>{(currentUser.subscription.type)}</strong> plan</li>
                <li ng-if="!currentUser.subscription.expired && !currentUser.subscription.subscriptionID">You are on the <strong>trial</strong> plan</li>
                <li ng-if="currentUser.subscription.expired">Your subscription expired <strong>{(currentUser.subscription.endDate*1000 | date:'MMMM d, yyyy')}</strong></li>
                <li ng-if="!currentUser.subscription.expired">Your subscription expires <strong>{(currentUser.subscription.endDate*1000 | date:'MMMM d, yyyy')}</strong></li>
                <li ng-if="currentUser.subscription.cancelled && currentUser.subscription.subscriptionID">You have set your subscription to <strong>no longer renew</strong></li>
            </ul>
        </section>
        <section class="card" ng-if="currentUser.subscription.subscriptionID">
            <h3>Update card on file</h3>
            <p ng-if="!customer.error && customer.default_source.last4">Dewy is using the credit card ending with <strong>{(customer.default_source.last4)}</strong></p>
            <form stripe:form="updateCard">
                <fieldset>
                    <div class="field">
                        <label>Card Number</label>
                        <input type="text" maxlength="20" data-stripe="number">
                    </div>

                    <div class="field">
                        <label>Expiration</label>
                        <div class="fields">
                            <input type="text" maxlength="2" data-stripe="exp-month" placeholder="MM" class="month">
                            <input type="text" maxlength="2" data-stripe="exp-year" placeholder="YY" class="year">
                        </div>
                    </div>

                    <div class="field">
                        <label>CVC</label>
                        <div class="fields">
                            <input type="text" maxlength="4" data-stripe="cvc" class="cvc">
                        </div>
                    </div>
                    <span class="error" ng-if="updateCardError">{( updateCardError )}</span>
                    <button type="submit" ng-disabled="updateCardDisabled">Update card details<i class="fa fa-credit-card-alt" aria-hidden="true"></i></button>
                </fieldset>
            </form>
        </section>
        <section class="subscribe" ng-if="!currentUser.subscription.subscriptionID">
            <h3>Start your subscription</h3>
            <form stripe:form="subscribeCustomer">
                <div class="plans" ng-include="'templates/subscription_plans.html'">
                </div>
                <fieldset>
                    <div class="field">
                        <label>Card Number</label>
                        <input type="text" maxlength="20" data-stripe="number">
                    </div>

                    <div class="field">
                        <label>Expiration</label>
                        <div class="fields">
                            <input type="text" maxlength="2" data-stripe="exp-month" placeholder="MM" class="month">
                            <input type="text" maxlength="2" data-stripe="exp-year" placeholder="YY" class="year">
                        </div>
                    </div>

                    <div class="field">
                        <label>CVC</label>
                        <div class="fields">
                            <input type="text" maxlength="4" data-stripe="cvc" class="cvc">
                        </div>
                    </div>
                    <span class="error" ng-if="subscribeError">{( subscribeError )}</span>
                    <button type="submit" ng-disabled="subscribeDisabled">Start {(plan)} plan<i class="fa fa-credit-card-alt" aria-hidden="true"></i></button>
                </fieldset>
            </form>
        </section>
        <section class="update" ng-if="currentUser.subscription.subscriptionID">
            <h3>Update your subscription</h3>
            <form>
<!--                 <div class="plans" ng-include="'templates/subscription_plans.html'">
                </div> -->
                <span class="error" ng-if="updateError">{( updateError )}</span>
                <fieldset>
                    <a class="button" ng-if="currentUser.subscription.type != plan" ng-disabled="changeDisabled">Change to {(plan)} plan<i class="fa fa-credit-card-alt" aria-hidden="true"></i></a>
                    <a class="button" ng-if="!currentUser.subscription.cancelled" ng-disabled="cancelDisabled" ng-click="cancelSubscription(true)">Cancel subscription<i class="fa fa-ban" aria-hidden="true"></i></a>
                    <a class="button" ng-if="currentUser.subscription.cancelled" ng-disabled="cancelDisabled" ng-click="cancelSubscription(false)">Resume subscription<i class="fa fa-play" aria-hidden="true"></i></a>
                </fieldset>
            </form>
        </section>
    </section>
</div>