@import 'bootstrap-sass-3.3.5/stylesheets/bootstrap-custom';

// Colours
$blue: #239CF9;
$dark-blue: #337ab7;
$light-blue: #D0E2F0;
$light-grey: #eee;
$grey: #666;

// Layout
body {
	min-height:100%;
	color: #333;
	font-size: 10pt;
	background: radial-gradient(center center, 50% 70%, #fff 70%, #fcfcfc);
	background: -webkit-radial-gradient(center center, 50% 70%, #fff 70%, #fcfcfc);
	background: -o-radial-gradient(center center, 50% 70%, #fff 70%, #fcfcfc);
	background: -ms-radial-gradient(center center, 50% 70%, #fff 70%, #fcfcfc);
	background-attachment: fixed;

	header {
		border-top: 5px solid $blue;
		background-color: $light-grey;

		nav {
			@extend .container;

			ul {
				@extend .row;
				text-align: right;
				margin-bottom: 0;

				li {
					display: inline;

					a {
						display: inline-block;
						padding: 1em $grid-gutter-width/2;
						height: 45px;

						&:hover {
							text-decoration: none;
							background-color: #fff;
						}

						img {
							max-width: 2em;
							border-radius: 1em;
							margin-right: 0.5em;
							float: left;
							margin-top: -5px;
						}
					}
				}
			}
		}
	}

	.logo {
		h1 {
			@extend .container;

			img {
				max-width: 148px;
			}
		}
	}

	section {
		@extend .container;
		padding-bottom: 5em;

		.main {
			@extend .row;

			h2 {
				color: $dark-blue;
				@extend .col-xs-12;
				font-size: 1.8em;
				margin: 1em 0;

				a {
					color: $dark-blue;

					&:hover {
						color: $blue;
					}

					span {
						margin-left: 0.25em;
					}
				}
			}

			.view {
				@extend .col-sm-9;

				nav {
					@extend .row;

					.tabs {
						@extend .col-md-8;

						ul {
							margin: 0;
							padding: 0;

							li {
								display: inline;

								a {
									color: $dark-blue;
									display: inline-block;
									padding: 0.5em 1em;
									background-color: #fff;
									border-top: solid 1px $light-blue;
									border-left: solid 1px $light-blue;
									border-right: solid 1px $light-blue;

									@media (max-width: $screen-sm-max) {
										border-bottom: solid 1px $light-blue;
									}

									&:hover {
										text-decoration: none;
										color: #fff;
										background-color: $dark-blue;
									}
								}

								&.selected a {
									color: #fff;
									background-color: $dark-blue;
								}
							}
						}
					}

					.search {
						@extend .col-md-4;

						@media (max-width: $screen-sm-max) {
							padding-top: 1em;
							padding-bottom: 1em;
						}

						form {
							position: relative;
							border: solid 1px $light-blue;

							input[type=text] {
								width: 100%;
								padding: 0.3em 0.5em;
								border: none;
								background-color: transparent;

								&::-webkit-input-placeholder {
									color: $dark-blue;
								}
								&:-moz-placeholder {
									color: $dark-blue;
									opacity: 1;
								}
								&::-moz-placeholder {
									color: $dark-blue;
									opacity: 1;
								}
								&:-ms-input-placeholder {
									color: $dark-blue;
								}
							}

							button {
								position: absolute;
								right: 0;
								color: $blue;
								margin-top: 3px;
								background-color: transparent;
							}
						}
					}
				}

				.content {
					border: solid 1px $light-blue;

					ul {
						margin: 0;
						padding: 0;
						@extend .row;

						li {
							display: inline;

							&.title {
								@extend .col-xs-4;

								h3 {
									margin: 0;
									font-size: 1.4em;
								}
							}
							
							&.complexity, &.size, &.activity, &.health {
								@extend .col-xs-2;
							}
						}
					}

					.header {
						background-color: $light-grey;

						ul li a {
							color: $grey;
							display: inline-block;
							width: 100%;
							height: 100%;
							padding: 0.5em $grid-gutter-width/2;
							box-sizing: content-box;
							margin-left: -$grid-gutter-width/2;

							@media (max-width: $screen-sm-max) {
								font-size: 0.9em;

								&:after {
									margin-top: 6px;
									display: block;
									width: 0;
									height: 0;
									content: "";
									vertical-align: -5px;
									border: 6px solid;
									border-top-color: transparent;
									border-left-color: transparent;
									border-right-color: transparent;
									border-bottom-color: transparent;
								}
							}

							&:hover {
								color: $light-grey;
								background-color: $grey;
							}

							&.desc:after {
								@media (max-width: $screen-sm-max) {
									display: block;
									margin-top: 6px;
									margin-left: 0;
								}

								margin-left: 8px;
								display: inline-block;
								width: 0;
								height: 0;
								content: "";
								vertical-align: -5px;
								border: 6px solid;
								border-left-color: transparent;
								border-right-color: transparent;
								border-bottom-color: transparent;
							}

							&.asc:after {
								@media (max-width: $screen-sm-max) {
									display: block;
									margin-left: 0;
								}

								margin-left: 8px;
								display: inline-block;
								width: 0;
								height: 0;
								content: "";
								vertical-align: 1px;
								border: 6px solid;
								border-left-color: transparent;
								border-right-color: transparent;
								border-top-color: transparent;
							}
						}
					}

					.sites {
						padding-top: 1em;

						ul {
							padding-bottom: 1em;

							li {
								.point {
									width: 0.75em;
									background-color: $blue;
									height: 0.75em;
									display: inline-block;
									border-radius: 0.75em;
									transition: opacity 0.3s;
								}

								&.complexity, &.size, &.activity, &.health {
									font-size: 0.8em;
									margin-top: 0.75em;

									@media (max-width: $screen-md-max) {
										font-size: 0.6em;
										margin-top: 1.5em;
									}
								}
							}
						}
					}

					.rules {
						padding: $grid-gutter-width/2;

						.rule, .rule-group > .rule-group {
							padding-left: 2em;
						}

						.rule {
							margin-top: 0.75em;
							margin-bottom: 0.75em;

							.buttons {
								float: right;

								button {
									margin-left: 0.5em;
								}
							}
						}

						.rule-group {
							margin-top: 1.5em;
							
						}

						.rule-group-heading {
							margin-bottom: 1.5em;
						}

						input {
							font-size: 0.85em;
							border-width: 1px solid $grey;
							padding: 0;
						}

						.total {
							margin: 2em 0 0 0;
							font-weight: bold;
						}
					}
				}
			}

			.context {
				@extend .col-sm-3;
				@media (max-width: $screen-xs-max) {
					display: none;
				}

				ul {
					margin: 0;
					padding-left: 0;

					li {
						display: inline;

						a {
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
							display: block;
							padding: 0.35em 0 0.35em 1.5em;
							font-weight: bold;
							// border-left: 1px solid $light-blue;

							&.selected {
								// border-left: none;
								// border-top: 1px solid $light-blue;
								// border-bottom: 1px solid $light-blue;
								// border-right: 1px solid $light-blue;
								color: $grey;
							}

							&.folder {
								&:before {
									margin-left: -1.25em;
									margin-right: 0.25em;
									display: inline-block;
									width: 0;
									height: 0;
									content: "";
									vertical-align: -1px;
									border: 6px solid;
									border-right-color: transparent;
									border-top-color: transparent;
									border-bottom-color: transparent;
								}

								&.open:before {
									margin-left: -1.5em;
									margin-right: 0.5em;
									display: inline-block;
									width: 0;
									height: 0;
									content: "";
									vertical-align: -5px;
									border: 6px solid;
									border-right-color: transparent;
									border-left-color: transparent;
									border-bottom-color: transparent;
								}
							}
						}
					}

					&.folders li > ul li a {
						padding-left: 2.5em;
					}

					&.folders li > ul li > ul li a {
						padding-left: 4.5em;
					}

					&.folders li > ul li > ul li > ul li a {
						padding-left: 6.5em;
					}

					& + .actions {
											margin-top: 2em;
					}
				}

				.actions {
					button {
						display: block;
						padding: 0.25em 1.5em;
						margin-bottom: 0.25em;
						width: 100%;
						text-align: left;

						span {
							float: right;
							margin-top: 1px;
						}
					}
				}
			}
		}
	}

	footer {
		position: absolute;
		bottom: 0;
		background-color: $light-grey;
		width: 100%;

		ul {
			@extend .container;
			margin-bottom: 0;

			li {
				display: inline;

				span, a {
					display: inline-block;
					padding: 0.5em 0;
					margin-right: 1em;
				}
			}
		}
	}
}

// Elements
a {
	color: $blue;

	&.drop:after {
		margin-left: 4px;
		display: inline-block;
		width: 0;
		height: 0;
		content: "";
		vertical-align: -5px;
		border: 6px solid;
		border-right-color: transparent;
		border-left-color: transparent;
		border-bottom-color: transparent;
	}

	&:hover {
		text-decoration: none;
	}
}

button {
	border: 0;
	background-color: $light-grey;
	color: $grey;

	&:hover {
		background-color: $grey;
		color: $light-grey;
	}
}