@import 'bootstrap-sass-3.3.5/stylesheets/bootstrap-custom';

// Colours
$blue: #239CF9;
$dark-blue: #337ab7;
$light-blue: #D0E2F0;
$light-grey: #eee;
$grey: #666;

// Layout
body {
	min-height:100%;
	color: #333;
	font-size: 10pt;
	background: radial-gradient(center center, 50% 70%, #fff 70%, #fcfcfc);
	background: -webkit-radial-gradient(center center, 50% 70%, #fff 70%, #fcfcfc);
	background: -o-radial-gradient(center center, 50% 70%, #fff 70%, #fcfcfc);
	background: -ms-radial-gradient(center center, 50% 70%, #fff 70%, #fcfcfc);
	background-attachment: fixed;

	header {
		nav {
			border-top: 5px solid $blue;
			background-color: $light-grey;

			ul {
				@extend .container;
				text-align: right;

				li {
					display: inline;

					a {
						display: inline-block;
						padding: 0.5em 1em;
						margin-right: -1em;

						&:hover {
							text-decoration: none;
							background-color: #fff;
						}

						img {
							max-width: 2em;
							border-radius: 1em;
							margin-right: 0.5em;
						}
					}
				}
			}
		}

		h1 {
			@extend .container;

			img {
				max-width: 148px;
			}
		}
	}

	section {
		@extend .container;
		padding-bottom: 5em;

		.main {
			@extend .row;

			.view {
				@extend .col-sm-9;

				nav {
					@extend .row;

					.tabs {
						@extend .col-sm-8;

						ul {
							margin: 0;
							padding: 0;

							li {
								display: inline;

								a {
									color: $dark-blue;
									display: inline-block;
									padding: 0.5em 1em;
									background-color: #fff;
									border-top: solid 1px $light-blue;
									border-left: solid 1px $light-blue;
									border-right: solid 1px $light-blue;

									&:hover {
										text-decoration: none;
										color: #fff;
										background-color: $dark-blue;
									}
								}

								&.selected a {
									color: #fff;
									background-color: $dark-blue;
								}
							}
						}
					}

					.search {
						@extend .col-sm-4;

						form input {
							width: 100%;
						}
					}
				}

				.content {
					border: solid 1px $light-blue;

					ul {
						margin: 0;
						padding: 0;
					@extend .row;

						li {
							display: inline;

							&.title {
								@extend .col-xs-4;

								h2 {
									margin: 0;
									font-size: 1.4em;
								}
							}
							
							&.complexity, &.size, &.activity, &.health {
								@extend .col-xs-2;
							}
						}
					}

					.header {
						background-color: $light-grey;
						padding-top: 0.5em;
						padding-bottom: 0.5em;

						ul li a {
							color: $grey;

							&:hover {
								color: $grey;
							}

							&.desc:after {
								margin-left: 8px;
								display: inline-block;
								width: 0;
								height: 0;
								content: "";
								vertical-align: -5px;
								border: 6px solid;
								border-right-color: transparent;
								border-left-color: transparent;
								border-bottom-color: transparent;
							}

							&.asc:after {
								margin-left: 8px;
								display: inline-block;
								width: 0;
								height: 0;
								content: "";
								vertical-align: 1px;
								border: 6px solid;
								border-right-color: transparent;
								border-left-color: transparent;
								border-top-color: transparent;
							}
						}
					}

					.sites {
						padding-top: 1em;
						
						ul {
							padding-bottom: 1em;

							li {
								.point {
									width: 0.75em;
									background-color: $blue;
									height: 0.75em;
									display: inline-block;
									border-radius: 0.75em;
									transition: opacity 0.3s;
								}

								&.complexity, &.size, &.activity, &.health {
									margin-top: 0.75em;
								}
							}
						}
					}
				}
			}

			.groups {
				@extend .col-sm-3;

				ul {
					margin: 0;
					padding: 0;

					li {
						display: inline;
					}
				}
			}
		}
	}

	footer {
		position: absolute;
		bottom: 0;
		background-color: $light-grey;
		width: 100%;

		ul {
			@extend .container;
			margin-bottom: 0;

			li {
				display: inline;

				span, a {
					display: inline-block;
					padding: 0.5em 0;
					margin-right: 0.25em;
				}
			}
		}
	}
}

// Elements
a {
	color: $blue;

	&.drop:after {
		margin-left: 4px;
		display: inline-block;
		width: 0;
		height: 0;
		content: "";
		vertical-align: -5px;
		border: 6px solid;
		border-right-color: transparent;
		border-left-color: transparent;
		border-bottom-color: transparent;
	}

	&:hover {
		text-decoration: none;
	}
}