* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    @include add-grid(24);
    @include add-gutter(1/3);

    height: 100%;
    background-color: $white;
    color: $white;
    font-size: 12px;
    font-family: $body-font;

    @include breakpoint($mobile-large) {
        font-size: 13px;
    }

    @include breakpoint($desktop) {
        font-size: 14px;
    }

    @include breakpoint($desktop-medium) {
        font-size: 15px;
    }

    @include breakpoint($desktop-large) {
        font-size: 16px;
    }

    @include breakpoint($desktop-extra-large) {
        font-size: 18px;
    }

    .wrapper {
        min-height: 100%;
        position: relative;
        background-color: $blue;
        background-image: radial-gradient(circle, $blue 70%, $darkish-blue);
        background-attachment: fixed;
        @include clearfix;
        padding-bottom: 5em;
    }

    &.app, &.page {
        background-color: $blue;
        color: $grey;

        .wrapper {
            background: none;
            background-color: $white;
        }

        button, a.button {
            text-align: left;
        }

        header, footer {
            background-color: $light-grey;
            border-top-color: $blue;

            ul {
                color: $white;

                li a {
                    color: $blue;

                    &:hover {
                        color: $blue;
                        background-color: $white;

                        @include breakpoint($tablet) {
                            color: $dark-blue;
                        }
                    }
                }
            }

            #menu-toggle {
                color: $blue;
            }
        }

        footer ul {
            color: $grey;

            li a:hover {
                background-color: transparent;
                color: $dark-blue;
            }
        }
    }

}