p {
    line-height: 1.6em;
}

a {
    color: $blue;
    text-decoration: none;

    &:hover {
        text-decoration: none;
        color: $dark-blue;
    }
}

span.error {
    color: $blue;
    transition: 400ms;

    &.ng-enter {
        transition: 0;
    }

    &.ng-enter, &.ng-leave-active {
        opacity: 0;
        margin-left: -1em;
    }
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

hr {
    margin: 1.5em 0;
    border: none;
    height: 1px;
    background-color: $light-grey;

    @include breakpoint($desktop) {
        margin: 1.5em -2em;
    }
}

li {
    line-height: 1.6em;
    margin-bottom: 0.5em;
}

pre.highlight {
    overflow-x: scroll;
    background-color: $lighter-grey;
    padding: 1em;
    margin-bottom: 2em;
}

code {
    font-family: $code-font;
}