p {
    line-height: 1.6em;
}

a {
    color: $blue;
    text-decoration: none;

    &:hover {
        text-decoration: none;
        color: $dark-blue;
    }
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

hr {
    margin: 1.5em -2em;
    border: none;
    height: 1px;
    background-color: $light-grey;
}

li {
    line-height: 1.6em;
    margin-bottom: 0.5em;
}

pre.highlight {
    overflow-x: scroll;
    background-color: $lighter-grey;
    padding: 1em;
    margin-bottom: 2em;
}

code {
    font-family: $code-font;
}