form {
    @include clearfix;

    fieldset {
        border: none;
        margin: 0;
        padding: 0;

        .field {
            @include clearfix;
            clear: both;

            & + .field {
                margin-top: 1em;
            }
        }

        .messages {
            display: block;
            font-weight: bold;
            margin-bottom: 1.5em;
        }

        label {
            display: block;
            margin-bottom: 0.5em;
        }

        input {
            width: 100%;
            padding: 0.5em;
            border-radius: 0.25em;
            color: $grey;

            & + input {
                margin-top: 0.5em;
            }
        }

        .fields input + input {
            margin-top: 0;
        }

        .error {
            color: $blue;
            display: block;
            margin-top: 0.5em;
            transition: 400ms;
            margin-bottom: 0.5em;

            &.ng-enter {
                transition: 0;
            }

            &.ng-enter, &.ng-leave-active {
                opacity: 0;
                margin-left: -1em;
            }
        }

        button, .button {
            margin-top: 2em;
            @include layout(24) {
                @include grid-span(12,7);
            }
            clear: both;

            & + button, & + .button {
                margin-top: 0;
            }
        }
    }

    &.center {
        fieldset {
            .field + .field {
                margin-top: 0.5em;
            }
        }
    }

    @include breakpoint($tablet) {
        fieldset {
            @include layout(24) {
                @include grid-span(18,4);
                clear: both;
            }
        }
    }

    @include breakpoint($desktop) {
        &.center .field {
            @include grid-span(18,4);
            clear: both;
        }

        &:not(.center) fieldset {
            label {
                margin-top: 0.5em;
                @include grid-span(7,1);
            }

            .field > input,  .field > .error, .fields {
                @include grid-span(17,8);
            }

            .error {
                clear: both;
            }
        }

        fieldset {
            button, .button {
                @include grid-span(10,8);
                clear: both;
            }
        }
    }
}

#load, .load {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($white, 0.5);

    span {
        display: block;
        border-radius: 0.25em;
        padding: 0.5em;
        background-color: $blue;
        color: $white;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 10em;
        text-align: center;
        margin: auto;
        height: 2em;
        transition: 0.4s ease all;

        &.error {
            background-color: red;
        }

        &.success {
            background-color: green;
        }
    }
}

.load.ng-leave {
    transition: 0.4s ease all;
}

select, input {
    font-family: inherit;
    font-size: 1em;
    border-width: solid 1px $light-blue;
    padding: 0.25em 1em 0.25em 1em;
    color: $grey;
    border: solid 1px $light-blue;
    border-radius: 0.5em;
    margin: 0;
    width: 100%;

    @include breakpoint($desktop) {
        width: auto;
    }
}

select, input[type=text], input[type=password] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select {
    cursor: pointer;
    background: #FFF url(/img/select.svg);
    background-size: contain;
    background-position: top right;
    background-repeat: no-repeat;
    padding-right: 2.5em;
}

input {
    background-color: #FFF;
}

.dropdown-placeholder {
    height: 3px;
    background-color: $blue;
    display: block;
    padding: 0 !important;
}