h1, h2, h3 {
    font-family: $header-font;
}

h1, h2 {
    margin-bottom: 0.5em;
}

h3, h4 {
    margin-bottom: 1em;
}

h1 {
    font-size: 3.25em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 1.75em;
    border-bottom: 1px solid $light-grey;
}

h4 {
    font-weight: 700;
}

p + h2, p + h3 {
    margin-top: 2em;
}