section {
    @include grid-span(24,1);
    @include clearfix;
    clear: both;
    position: relative;
    padding-top: 3em;
    padding-bottom: 3em;

    @include breakpoint($mobile-large) {
        & > section {
            @include grid-span(20,3);
            clear: both;
        }
    }

    @include breakpoint($tablet) {
        @include grid-span(20,3);
        clear: both;
    }

    & > p, & > form, & > ul {
        padding-bottom: 2em;
        clear: both;

        &:last-child {
            padding-bottom: 0;
        }
    }
}