            <section>
                <div class="main">
                    <h2>
                        Error
                    </h2>
                    <p>
                        {{ message }}
                    </p>
                </div>
            </section>