<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/css/styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="/js/scripts.min.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <header>
                <nav>
                    <ul>
                        <li><a href="">Add Drupal sites</a></li><li><a href="" class="drop"><img src="/img/avatar.jpg" alt=""/>Signed in as dmcb</a><ul class="dropdown">
                            <li><a href="">Profile</a></li>
                            <li><a href="">Settings</a></li>
                            <li><a href="">Sign out</a></li>
                        </ul></li>
                    </ul>
                </nav>
            </header>
            <div class="logo">
                <h1><img src="/img/dewy.png" alt="Dewy"></h1>
            </div>