        <section class="introduction">
            <div class="content">
                <h2>Take back Drupal.</h2>
                <p>The days of guessing what Drupal sites are doing at your Higher-Ed institution, multi-site organization or digital agency are over.</p>
            </div>
        </section>
        <section class="feature">
            <div class="feature">
                <div class="getstarted">
                    <div class="content">
                        <h2>How It Works</h2>
                        <ul>
                            <li><span class="step">1</span><span class="instruction"><a class="scroll" href="#signup">Sign up for Dewy</a> and get a unique key.</span></li>
                            <li><span class="step">2</span><span class="instruction">Install the <a href="https://www.drupal.org/project/dewy">Drupal module</a> with that key to any site you want insight into.</span></li>
                            <li><span class="step">3</span><span class="instruction">Get all the details on all your sites.</span></li>
                        </ul>
                    </div>
                </div>
                <div class="views">
                    <div class="content">
                        <h2>See it all</h2>
                        <p>Bring your sites into Dewy and discover what sites are big or small, active or stale, loved or needing love. Helpful views bring your sites into focus.</p>
                    </div>
                    <div class="image">
                        <img src="/img/preview_view.png" alt="Views" class="screenshot" />
                    </div>
                </div>
                <div class="querying">
                    <div class="content">
                        <h2>Powerful querying</h2>
                        <p>Ever been in a meeting where someone asked how many Drupal sites are live? With webforms? Version 3.24? And get over 1000 hits a month? Any question, no matter how complex, answered in a few clicks.</p>
                    </div>
                    <div class="image">
                        <img src="/img/preview_query.png" alt="Queries" class="screenshot" />
                    </div>
                </div>
                <div class="notifications">
                    <div class="content">
                        <h2>Notifications and integration</h2>
                        <p>Seeing is one thing, doing is another. Let your sites tell you when they need your attention. Talk to the Dewy API to create powerful workflows.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="signup" id="signup">
            <div class="content">
                <h2>Sign up for Dewy</h2>
                <form method="post" action="#signup" class="signup">
                <fieldset>
                    {{#if message}}
                    <span class="messages">
                        {{message}}
                    </span>
                    {{/if}}
                    <input id="username" name="username" placeholder="Your username" value="{{username}}" />
                    <input id="email" name="email" placeholder="Your email" value="{{email}}" />
                    <input id="password" name="password" placeholder="Your password" type="password" />
                    <button type="submit">Sign up</button>
                </fieldset>
                </form>
            </div>
        </section>