            <section>
                <form method="post" action="/signon" id="signon">
                <fieldset>
                    <input id="email" name="email" placeholder="Your email address" />
                    <input id="password" name="password" placeholder="Your password" type="password" />
                </fieldset>
                <label class="remember">
                    <input id="remember" name="remember" type="checkbox" value="on" />
                    <span>Remember me</span>
                </label>
                <button type="submit">Sign on</button>
            </section>