            <section>
                <div class="main">
                    <h2><a href="">{{current_filter}}<span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></h2>
                    <div class="view">
                        <nav>
                            <div class="tabs">
                                <ul>
                                    <li class="selected"><a href="">Site comparison</a></li>
                                    <li><a href="">Site content</a></li>
                                    <li><a href="">Site modules</a></li>
                                </ul>
                            </div>
                            <div class="search">
                                <form>
                                    <input type="text" placeholder="Search sites" />
                                    <button>
                                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                    </button>
                                </form>
                            </div>
                        </nav>
                        <div class="content">
                            <div class="header">
                                <ul>
                                    <li class="title"><a href="">{{sites.length}} sites</a></li>
                                    <div class="variables">
                                        <ul>
                                            <li class="complexity"><a href="" class="desc">Complexity</a></li>
                                            <li class="size"><a href="">Size</a></li>
                                            <li class="activity"><a href="">Activity</a></li>
                                            <li class="health"><a href="">Health</a></li>
                                        </ul>
                                    </div>
                                </ul>
                            </div>
                            <div class="sites">
                                {{#sites}}
                                <ul>
                                    <li class="title"><h3>{{title}}</h3><span>{{base_url}}</span></li>
                                    <div class="variables">
                                        <ul>
                                            <li class="complexity">
                                                {{#dots complexity}}
                                                    <div class="point"></div>
                                                {{/dots}}
                                            </li>
                                            <li class="size">
                                                {{#dots size}}
                                                    <div class="point"></div>
                                                {{/dots}}
                                            </li>
                                            <li class="activity">
                                                {{#dots activity}}
                                                    <div class="point"></div>
                                                {{/dots}}
                                            </li>
                                            <li class="health">
                                                {{#dots health}}
                                                    <div class="point"></div>
                                                {{/dots}}
                                            </li>
                                        </ul>
                                    </div>
                                </ul>
                                {{/sites}}
                            </div>
                        </div>
                    </div>
                    <nav class="context">
                        <ul class="folders">
                            <li><a href="">All sites</a></li>
                            {{#filters}}
                                {{> filter_menu_item}}
                            {{/filters}}
                        </ul>
                        <div class="actions">
                            <button>Add folder <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></button>
                            <button>Add filter <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></button>
                        </div>
                    </nav>
                </div>
            </section>