@mixin proportional-box($aspect-ratio) {
    height: 0;
    padding-top: $aspect-ratio;

    & > .fill {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        @include enable-vertical-center();
    }
}