$font-size-base: 14px;
@import 'bootstrap-sass-3.3.5/stylesheets/bootstrap-custom';

body {
	margin: 0;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	color: #555;
}

header {
	background-color: blue;

	h1 {
		@extend .row;
		font-family: 'Lato';
		font-weight: 300;
		margin: 0;
		text-transform: uppercase;
		color: #fff;
		padding: 1em 1em;
	}
}

section.sites {
	margin: 2em 2em;

	.header {
		@extend .row;
		margin-bottom: 1em;

		.environment {
			@extend .col-lg-4;
			@extend .col-xs-12;

			h2 {
				margin: 0;

				span {
					@extend .small;
					margin-left: 0.5em;
				}
			}
		}

		.headers{
			@extend .row;
			@extend .col-lg-8;
			@extend .col-xs-12;

			li {
				@extend .col-sm-3;
				@extend .col-xs-12;
				display: block;

				a {
					padding: 0.5em;
					margin: 0 0.25em 0.25em 0;
					background-color: #eee;
					border-radius: 0.5em;

					&:hover {
						background-color: #000;
					}
				}
			}
		}
	}

	.list {
		.site {
			@extend .row;

			.title {
				@extend .h4;
				@extend .col-lg-4;
				@extend .col-xs-12;

				h3 {
					margin: 0;
				}
			}

			.details {
				@extend .row;
				@extend .col-lg-8;
				@extend .col-xs-12;

				li {
					@extend .col-sm-3;
					@extend .col-xs-12;
					display: block;

					border-radius: 0.5em;

					&:hover {
						background-color: #eee;
					}
				}
			}
		}
	}
}