$font-size-base: 14px;
@import 'bootstrap-sass-3.3.5/stylesheets/bootstrap-custom';

body {
	margin: 0;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	color: #555;
}

header {
	background-color: blue;
	@extend .container-fluid;
	padding-top: 1em;
	padding-bottom: 1em;

	div {
		@extend .row;

		h1 {
			@extend .col-sm-8;
			@extend .col-xs-12;
			font-family: 'Lato';
			font-weight: 300;
			text-transform: uppercase;
			color: #fff;
			margin: 0;
		}

		.search {
			@extend .col-sm-4;
			@extend .col-xs-12;
			margin: 0;

			input {
				width: 100%;
				margin-top: 0.45em;
			}
		}
	}
}

#content {
	margin-top: 1em;

	section.sites {
		@extend .container-fluid;

		.header {
			@extend .row;
			margin-bottom: 1em;

			.environment {
				@extend .col-md-4;
				@extend .col-xs-12;

				h2 {
					margin: 0;

					span {
						@extend .small;
						margin-left: 0.5em;
					}
				}
			}

			.headers{
				@extend .row;
				@extend .col-md-8;
				@extend .col-xs-12;

				li {
					@extend .col-sm-3;
					@extend .col-xs-12;
					display: block;

					@media(max-width: $screen-md-min){
						display: none;
					}

					& > span {
						font-weight: bold;
						display: block;
						width: 100%;
					}

					a {
						padding: 0.5em;
						margin: 0 0.25em 0.25em 0;
						background-color: #eee;
						border-radius: 0.5em;
						font-size: 0.8em;

						&:hover {
							opacity: 0.3;
						}
					}
				}
			}
		}

		.list {
			.site {
				@extend .row;

				.title {
					@extend .h4;
					@extend .col-md-4;
					@extend .col-xs-12;
					margin: 0;

					h3 {
						margin-top: 0;
						font-size: 1em;
					}
				}

				.details {
					@extend .row;
					@extend .col-md-8;
					@extend .col-xs-12;

					li {
						@extend .col-sm-3;
						@extend .col-xs-6;
						display: block;

						.description {
							display: none;

							@media(max-width: $screen-md-min){
								font-weight: bold;
								display: block;
							}

							@media(max-width: $screen-sm-min){
								font-weight: normal;
								display: inline;
								&::after {
									content: ': ';
								}
							}
						}

						.points {
							display: inline-block;

							.point {
								width: 0.75em;
								background-color: #999;
								height: 0.75em;
								display: inline-block;
								border-radius: 0.75em;
							}
						}

						&.activity .points1 .point, &.health .points1 .point {
							background-color: #f00;
						}

						&.activity .points2 .point, &.health .points2 .point {
							background-color: #ff5b00;
						}

						&.activity .points3 .point, &.health .points3 .point {
							background-color: #ff9d00;
						}

						&.activity .points4 .point, &.health .points4 .point {
							background-color: #ffc600;
						}

						&.activity .points5 .point, &.health .points5 .point {
							background-color: #ffe700;
						}

						&.activity .points6 .point, &.health .points6 .point {
							background-color: #ffff00;
						}

						&.activity .points7 .point, &.health .points7 .point {
							background-color: #e7ff00;
						}

						&.activity .points8 .point, &.health .points8 .point {
							background-color: #c6ff00;
						}

						&.activity .points9 .point, &.health .points9 .point {
							background-color: #9dff00;
						}

						&.activity .points10 .point, &.health .points10 .point {
							background-color: #5bff00;
						}

						&:hover .points .point {
							opacity: 0.3;
						}
					}
				}
			}
		}
	}
}