$font-size-base: 13px;
@import 'bootstrap-sass-3.3.5/stylesheets/bootstrap-custom';

body {
	margin: 0;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	color: #555;
}

header {
	background-color: blue;
	@extend .container-fluid;
	padding-top: 1em;
	padding-bottom: 1em;

	div {
		@extend .row;

		h1 {
			@extend .col-sm-8;
			@extend .col-xs-12;
			font-family: 'Lato';
			font-weight: 300;
			text-transform: uppercase;
			color: #fff;
			margin: 0;
		}

		.search {
			@extend .col-sm-4;
			@extend .col-xs-12;
			margin: 0;

			input {
				width: 100%;
				margin-top: 0.45em;
			}
		}
	}
}

#content {
	margin-top: 2em;

	section.sites {
		@extend .container-fluid;

		.header {
			@extend .row;
			margin-bottom: 1em;

			.environment {
				@extend .col-md-3;
				@extend .col-xs-12;

				h2 {
					margin: 0;

					span {
						@extend .small;
						margin-left: 0.5em;
					}
				}
			}

			.headers{
				@extend .row;
				@extend .col-md-9;
				@extend .col-xs-12;

				li {
					@extend .col-sm-3;
					@extend .col-xs-12;
					display: block;

					a {
						padding: 0.5em;
						margin: 0 0.25em 0.25em 0;
						background-color: #eee;
						border-radius: 0.5em;

						&:hover {
							background-color: #000;
						}
					}
				}
			}
		}

		.list {
			.site {
				@extend .row;

				.title {
					@extend .h4;
					@extend .col-md-3;
					@extend .col-xs-12;
					margin: 0;

					h3 {
						margin: 0;
						font-size: 1em;
					}
				}

				.details {
					@extend .row;
					@extend .col-md-9;
					@extend .col-xs-12;

					li {
						@extend .col-sm-3;
						@extend .col-xs-12;
						display: block;

						border-radius: 0.5em;

						&:hover {
							background-color: #eee;
						}
					}
				}
			}
		}
	}
}