---
layout: compress
---
<!doctype html>
<html lang="en" ng-app="dewy">
    {% include head.html %}
    <body ng-controller="appController" ng-class="{app: appPage}">
        <div id="load" ng-if="isViewLoading"></div>
        <div class="wrapper">
            <div id="flash-message">
                <li ng-repeat="message in flashMessages track by $index" class="{(message.type)}">
                    {(message.content)}
                </li>
            </div>
            <header>
                <div class="shell">
                    <nav>
                        <input type="checkbox" id="menu-toggle-value" />
                        <div>
                            <ul ng-show="!appPage" class="home">
                                {% include non-app-menu.html %}
                            </ul>
                            <ul ng-show="appPage" class="app">
                                <li><a href="/sites" ng-class="{selected: menuItem=='overview'}">Overview</a></li><li><a href="/manage" ng-class="{selected: menuItem=='manage'}">Manage sites</a></li><li><a href="/filters" ng-class="{selected: menuItem=='filters'}">Manage filters</a></li><li><a href="" class="icon drop" ng-class="{selected: menuItem=='account'}" current-user><img src="https://www.gravatar.com/avatar/{(currentUser.gravatar)}?s=64" alt=""/>Signed in as {(currentUser.username)}</a><ul class="dropdown">
                                    <li><a href="/account">Account</a></li>
                                    <li><a href="/subscription">Subscription</a></li>
                                    <li><a href="" ng-click="signOff()">Sign off</a></li>
                                </ul></li>
                            </ul>
                        </div>
                        <div class="logo">
                            <a href="/"><img src="/img/dewy-white.png" alt="Dewy" ng-if="!appPage"><img src="/img/dewy.png" alt="Dewy" ng-if="appPage"></a>
                        </div>
                        <label for="menu-toggle-value" id="menu-toggle" onclick=""><i class="fa fa-bars"></i></label>
                    </nav>
                </div>
            </header>

            <div class="app" ng-view>
                <div class="shell">
                    <section class="introduction">
                        <h1>Take back Drupal.</h1>
                        <p>The days of guessing what Drupal sites are doing at your higher-ed institution, multi-site organization or digital agency are over.</p>
                    </section>
                </div>
                <div class="body">
                    <div class="shell">
                        <section class="views">
                            <h2>See it all</h2>
                            <p>Bring your sites into Dewy and discover what sites are big or small, active or stale, loved or needing love. Helpful views bring your sites into focus.</p>
                            <div class="image">
                                <img src="/img/preview_view.gif" alt="Views" class="screenshot" />
                            </div>
                        </section>
                        <section class="querying">
                            <h2>Powerful querying</h2>
                            <p>Ever been in a meeting where someone asked how many Drupal sites are live with webforms? Version 3.24? And average over 1000 hits a day? Any question, no matter how complex, can be answered with a few clicks.</p>
                            <div class="image">
                                <img src="/img/preview_query.gif" alt="Queries" class="screenshot" />
                            </div>
                        </section>
                        <section class="notifications">
                            <h2>Coming soon:<br/>Notifications, integrations, mailing lists and more!</h2>
                            <p>Let your sites tell you when they need your attention. Create mailing lists of users. Talk to the Dewy API to create unique workflows. Powerful new features are on the way.</p>
                        </section>
                    </div>
                </div>
                <div class="feature">
                    <div class="shell">
                        <section class="getstarted">    
                            <h2>How it works</h2>
                            {% if site.environment == 'development' %}
                            <ul>
                                <li><span class="step">1</span><span class="instruction"><a class="scroll" href="#signup">Sign up for Dewy</a> and get a unique key.</span></li>
                                <li><span class="step">2</span><span class="instruction">Install the <a href="https://www.drupal.org/project/dewy">Drupal module</a> with that key to any site you want insight into.</span></li>
                                <li><span class="step">3</span><span class="instruction">Get all the details on all your sites.</span></li>
                            </ul>
                            {% else %}
                            <ul>
                                <li><span class="step">1</span><span class="instruction">Sign up for Dewy and get a unique key.</span></li>
                                <li><span class="step">2</span><span class="instruction">Install the Drupal module with that key to any site you want insight into.</span></li>
                                <li><span class="step">3</span><span class="instruction">Get all the details on all your sites.</span></li>
                            </ul>
                            {% endif %}
                        </section>
                    </div>
                </div>
            </div>
            
            {% include footer.html %}
        </div>
    </body>
</html>
