---
layout: compress
---
<!doctype html>
<html lang="en">
    {% include head.html %}
    <body class="page">
        <div class="wrapper">
            <header>
                <div class="shell">
                    <nav>
                        <div class="logo">
                            <a href="/"><img src="/img/dewy.png" alt="Dewy"></a>
                        </div>
                    </nav>
                </div>
            </header>

            <div class="shell">
                {{ content }}
            </div>

            {% include footer.html %}
        </div>
    </body>
</html>
