section.user-info {
    .gravatar {
        margin-top: 2em;
        margin-bottom: 4em;
        background-color: $light-grey;
        padding: 0.5em;
        border-radius: 1em;
        position: relative;

        span {
            margin-left: 5.75em;
            display: block;
        }

        img {
            width: 6em;
            border-radius: 50%;
            vertical-align: middle;
            border: 0.5em solid $light-grey;
            position: absolute;
            top: -2em;
            left: 0;
        }
    }
}

section.user-info, section.your-password {
    fieldset {
        @include layout(24) {
            @include grid-span(24,1);
            clear: both;

            @include breakpoint($desktop) {
                @include grid-span(16,5);
                clear: both;
            }
        }
    }

    label {
        @include clearfix;
        clear: both;
        display: inline-block;
        margin-top: 0.5em;
    }

    input, .error {
        float: right;
        width: 70%;
    }

    button {
        clear: both;
    }
}
