section.user-info {
    .gravatar {
        margin-top: 2em;
        margin-bottom: 4em;
        position: relative;
        border-bottom: 1px solid $light-grey;

        span {
            margin-right: 5.75em;
            display: block;
        }

        img {
            width: 6em;
            border-radius: 50%;
            vertical-align: middle;
            border: 0.5em solid $light-grey;
            position: absolute;
            top: -2em;
            right: 0;
        }
    }
}
