section.introduction {
    p {
        font-size: 1.25em;
    }

    a {
        color: $grey;
    }

    @include breakpoint($desktop) {
        p {
            width: grid-span(16,1);
        }
    }

    @include breakpoint($desktop-large) {
        p {
            width: grid-span(8,1);
        }
    }
}

div.body {
    clear: both;
    @include clearfix;
    background-color: $white;
    color: $grey;

    section {
        overflow: hidden;
        padding: 0;
        border-bottom: solid 1px $light-blue;
        margin-bottom: 3em;

        &:first-child {
            margin-top: 3em;
        }

        &:last-child {
            border-bottom: none;
            margin-bottom: 0;
        }

        .screenshot {
            width: 100%;
            margin-top: 2em;

            img {
                width: 100%;
            }
        }

        &.views, &.querying, &.notifications {
            background-color: $white;
        }

        &.notifications {
            .coming-soon-copy {
                display: none;
            }

            .image {
                width: 70%;
                margin: 2em auto -10em auto;

                img {
                    width: 100%;
                }
            }
        }
    }

    @include breakpoint($tablet) {
        section {
            .screenshot {
                overflow: hidden;
                width: grid-span(22,2);
                margin-left: auto;
                margin-right: auto;

                &.screenshot {
                    box-shadow: 0px 0px 2em 0px rgba(0,0,0,0.4);
                    margin-top: 4em;
                }
            }

            &.notifications {
                float: none;
                width: auto;
                margin: 0 -24px 0 0;
                height: 0;
                @include proportional-box(70%);
                background-image: url(/img/notifications.png);
                background-position: 110% 0;
                background-repeat: no-repeat;
                background-size: contain;

                .block, .image {
                    display: inline-block;
                    vertical-align: middle;
                }

                .block {
                    margin-left: grid-span(2,1);
                    width: 55%;
                }

                .image {
                    display: none;
                }

                .coming-soon-copy {
                    margin-top: 4em;
                    display: block;
                }
            }
        }
    }

    @include breakpoint($tablet-large) {
        section.notifications {
            padding-top: 60%;
            background-position: 105% 0;
        }
    }

    @include breakpoint($desktop) {
        section:not(.notifications) {
            p {
                width: grid-span(16,1);
            }

            .screenshot {
                width: grid-span(20,3);
            }
        }
    }

    @include breakpoint($desktop-large) {
        section {
            margin-bottom: 0;

            &:first-child {
                margin-top: 0;
            }
        }

        section:not(.notifications) {
            @include proportional-box(27%);

            h2, p {
                width: grid-span(8,1);
            }

            .screenshot {
                display: block;
                margin: 0;
                width: auto;
                position: absolute;
                right: 2em;
                left: 40%;
                bottom: 0;

                img {
                    margin-bottom: -5px;
                }
            }
        }


        section.notifications {
            @include grid-span(20,3);
            clear: both;
            padding-top: 48%;
            background-image: none;

            .block {
                margin-left: 0;
            }

            .image {
                display: block;
                margin: 0;
                width: auto;
                position: absolute;
                right: 1.5em;
                left: 70%;
                bottom: 0;

                img {
                    margin-bottom: -5px;
                }
            }
        }
    }
}

div.feature {
    @include clearfix;
    background-color: $light-grey;
    color: $grey;

    section.getstarted {
        padding-bottom: 5em;
        border-bottom: none;

        ul {
            clear: both;

            li {
                margin-top: 3em;
                display: block;

                span {
                    line-height: 1.6;

                    &.step {
                        display: block;
                        background-color: $blue;
                        color: $white;
                        border-radius: 1.5em;
                        height: 1.5em;
                        width: 1.5em;
                        margin-left: auto;
                        margin-right: auto;
                        text-align: center;
                        font-size: 2em;
                        font-weight: bold;
                    }

                    &.instruction {
                        text-align: center;
                        display: block;
                        margin-top: 2em;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    @include breakpoint($tablet) {
        section.getstarted ul li {
            @include float-span(8);

            &:last-child {
                @include float-span(8,'last');
            }
        }
    }
}