div.list {
    section.content {

        ul.index {
            margin-left: 0;
            list-style: none;

            li {
                margin-bottom: 2em;
            }

            a {
                @extend h2;
                background-color: $blue;
                padding: 0.1em 0.25em;
                color: $white;
                line-height: 1.5em;
                display: block;

                &:hover {
                    background-color: $dark-blue;
                }
            }
        }
    }
}