section.filters {
    & > ul {
        @include layout(24) {
            @include grid-span(24,1);
            clear: both;

            @include breakpoint($desktop) {
                @include grid-span(18,4);
                clear: both;
            }
        }
    }

    li {
        position: relative;

        .filter {
            height: 1.5em;
            margin-bottom: 0.5em;
        }

        .handle {
            vertical-align: top;
        }

        .editable-span {
            display: inline;

            a {
                font-weight: bold;
            }
        }

        span {
            margin-left: 1em;
        }

        > ul {
            margin-left: 1.5em;

            li:last-child {
                padding-bottom: 0;
            }
        }

        form {
            display: inline-block;

            input {
                border: 0;
                margin: 0;
                padding-top: 0;
                padding-bottom: 0;
                color: $blue;
                vertical-align: top;
                font-weight: bold;
            }

            button {
                display: inline-block;
                padding: 0.25em 0.5em;
                margin: 0 0 0 0.5em;
            }
        }

        .buttons {
            margin-top: 0;
            position: absolute;
            right: 0;
        }
    }
}