div.main {
    position: relative;
    padding-top: 1em;
    padding-bottom: 6em;
    @include clearfix;

    h2, #titleerror, #nameerror {
        color: $blue;
        font-size: 2.5em;
        margin: 1em 0;
        float: none;

        a {
            color: $blue;
            position: relative;

            &:hover {
                color: $dark-blue;
            }

            i {
                padding-left: 0.5em;
                top: 9px;
                position: absolute;
            }
        }

        input {
            border: none;
            padding: 0;
            width: 100%;
            color: $blue;
            margin-top: -5px;
        }

        @include breakpoint($tablet) {
            width: grid-span(15,1);
        }

        @include breakpoint($desktop) {
            width: auto;
        }
    }

    #titleerror, #nameerror {
        margin-top: -1em;
        display: block;
        font-size: 0.9em;
    }

    .view {
        @include grid-span(24,1);

        @include breakpoint($desktop) {
            @include grid-span(18.75,1);
        }

        .tabs {
            text-align: center;

            @include breakpoint($tablet) {
                text-align: left;
                @include grid-span(12,1);
            }

            ul {
                margin: 0;
                padding: 0;

                li {
                    display: inline;

                    a, span {
                        color: $dark-blue;
                        display: inline-block;
                        padding: 0.5em 1em;
                        border: solid 1px $light-blue;

                        @include breakpoint($tablet) {
                            border-bottom: none;
                        }

                        &:hover {
                            text-decoration: none;
                            color: $white;
                            background-color: $dark-blue;
                        }
                    }

                    span {
                        color: $lightish-grey;
                        border-color: $light-grey;

                        &:hover {
                            color: $lightish-grey;
                            background-color: transparent;
                        }
                    }

                    &.selected a {
                        color: $white;
                        background-color: $dark-blue;
                    }
                }
            }
        }

        .search {
            padding-top: 1em;
            padding-bottom: 1em;

            @include breakpoint($tablet) {
                @include grid-span(10,15);
                padding-top: 0;
                padding-bottom: 0;
            }

            form {
                position: relative;
                border: solid 1px $light-blue;

                input[type=text] {
                    width: 100%;
                    padding: 0.3em 0.5em;
                    border: none;
                    background-color: transparent;

                    &::-webkit-input-placeholder {
                        color: $dark-blue;
                    }
                    &:-moz-placeholder {
                        color: $dark-blue;
                        opacity: 1;
                    }
                    &::-moz-placeholder {
                        color: $dark-blue;
                        opacity: 1;
                    }
                    &:-ms-input-placeholder {
                        color: $dark-blue;
                    }
                }

                i {
                    position: absolute;
                    top: 0;
                    right: 0;
                    color: $blue;
                    margin-top: 6px;
                    margin-right: 6px;
                    background-color: transparent;
                }
            }
        }

        .content {
            clear: both;
            border-top: solid 1px $light-blue;
            border-left: solid 1px $light-blue;
            border-right: solid 1px $light-blue;
            border-bottom: solid 1px $light-blue;
            overflow: scroll;

            li {
                margin: 0;
            }


            @include breakpoint($tablet) {
                overflow: hidden;
            }

            & + .content {
                margin-top: 2em;
            }

            ul.site {
                @include clearfix;
                
                @include layout(24, 0) {
                    li.title {
                        background-color: $white;
                        width: 50%;
                        position: absolute;
                        z-index: 1;

                        &:after {
                            background: -webkit-linear-gradient(90deg, rgba($grey, 0.5), rgba($grey, 0));
                            background: -moz-linear-gradient(90deg, rgba($grey, 0.5), rgba($grey, 0));
                            background: -o-linear-gradient(90deg, rgba($grey, 0.5), rgba($grey, 0));
                            background: linear-gradient(90deg, rgba($grey, 0.5), rgba($grey, 0));
                            position: absolute;
                            content: "";
                            top: 0;
                            right: -1em;
                            width: 1em;
                            height: 100%;
                            z-index: 1;
                        }

                        @include breakpoint($tablet) {
                            @include grid-span(9,1);
                            position: relative;
                            z-index: 0;

                            &:after {
                                display: none;
                            }
                        }
                    }
                        
                    ul.variables {
                        margin-left: 35%;
                        width: 75%;

                        @include breakpoint($tablet) {
                            @include grid-span(15,10);
                            z-index: 0;
                        }

                        li {
                            width: 25%;
                            float: left;
                            padding: 0;

                            @include breakpoint($tablet) {
                                @include float-span(6);

                                &:nth-child(4) {
                                    @include float-span(6,'last');
                                }
                            }

                            a {
                                width: 100%;
                                display: block;
                                padding-left: 1em;
                                padding-right: 0;
                                font-weight: bold;
                            }
                        }
                    }

                    li {
                        position: relative;

                        a, p {
                            padding: 0.75em 1em;
                        }

                        p {
                            line-height: inherit;
                            font-size: inherit;
                        }
                    }
                }
            }

            .header {
                @include clearfix;
                background-color: $light-grey;
                width: 150%;

                @include breakpoint($tablet) {
                    width: 100%;
                }

                ul.site li.title, ul.site ul.variables li {
                    &.title:after {
                        height: 2em;
                    }

                    a, span {
                        background-color: $light-grey;
                        color: $grey;
                        display: block;
                        width: 100%;
                        height: 100%;
                        padding: 0.5em 1em;
                        font-weight: normal;

                        &:hover {
                            color: $light-grey;
                            background-color: $grey;
                        }

                        &.selected.desc:after {
                            @include add-arrow(down, 0.4em);
                            top: 0.8em;
                        }

                        &.selected.asc:after {
                        @include add-arrow(up, 0.4em);
                            top: 0.4em;
                        }
                    }

                    span:hover {
                        color: $grey;
                        background-color: $light-grey;
                    }
                }
            }

            .sites {
                clear: both;
                width: 150%;

                .noresults {
                    padding-top: 3em;
                    padding-bottom: 3em;
                    position: absolute;
                    left: 0;
                    right: 0;
                    display: block;
                    text-align: center;
                    margin: 0;
                    color: $dark-blue;
                    border: 1px solid $light-blue;
                    border-top: 1px solid $white;

                    span {
                        margin-right: 0.5em;
                    }
                }

                @include breakpoint($tablet) {
                    width: 100%;

                    .noresults {
                        position: static;
                        border: none;
                    }
                }

                .site {
                    ul.site {
                        @include clearfix;
                        clear: both;

                        li {
                            &.open {
                                &:before {
                                    @include add-arrow(up, 0.75em);
                                    color: $light-grey;
                                    top: auto;
                                    margin-left: 0.5em;
                                    left: 0;
                                    right: 0;
                                    bottom: 0;
                                }

                                @include breakpoint($tablet) {
                                    a {
                                        padding-bottom: 1em;
                                    }
                                }
                            }

                            a:hover .point {
                                background-color: $dark-blue;
                            }

                            .point {
                                width: 0.75em;
                                background-color: $blue;
                                height: 0.75em;
                                display: inline-block;
                                border-radius: 0.75em;
                                transition: opacity 0.3s;
                                font-size: 0.9em;
                            }

                            &.health-1 {
                                .point {
                                    background-color: $red;
                                }

                                a:hover .point {
                                    background-color: $dark-red;
                                }
                            }

                            &.health-2 {
                                .point {
                                    background-color: #f36670;
                                }

                                a:hover .point {
                                    background-color: #c6535c;
                                }
                            }

                            &.health-3 {
                                .point {
                                    background-color: #ea6f89;
                                }

                                a:hover .point {
                                    background-color: #c15a73;
                                }
                            }

                            &.health-4 {
                                .point {
                                    background-color: #e4769d;
                                }

                                a:hover .point {
                                    background-color: #be6282;
                                }
                            }

                            &.health-5 {
                                .point {
                                    background-color: #e17aab;
                                }

                                a:hover .point {
                                    background-color: #bd6590;
                                }
                            }

                            &.health-6 {
                                .point {
                                    background-color: #d57eb4;
                                }

                                a:hover .point {
                                    background-color: #b56a96;
                                }
                            }

                            &.health-7 {
                                .point {
                                    background-color: #bd81bd;
                                }

                                a:hover .point {
                                    background-color: #a46f9d;
                                }
                            }

                            &.health-8 {
                                .point {
                                    background-color: #a086c9;
                                }

                                a:hover .point {
                                    background-color: #9274a4;
                                }
                            }

                            &.health-9 {
                                .point {
                                    background-color: #7d8cd5;
                                }

                                a:hover .point {
                                    background-color: #7b7cae;
                                }
                            }

                            &.title {
                                background-color: $white;

                                a, p {
                                    display: block;
                                    color: $grey;
                                    padding-right: 0;

                                    &:hover {
                                        color: #000;
                                    } 

                                    span {
                                        white-space: nowrap;
                                        display: block;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        line-height: 1.1em;

                                        &.title .point {
                                            margin-right: 0.5em;
                                        }
                                    }
                                }

                                p:hover {
                                    color: $grey;
                                }
                            }
                        }
                    }

                    div.detail-view {
                        @include clearfix;
                        clear: both;
                        background-color: $light-grey;
                        border-bottom: 1px solid $light-grey;
                        width: 100%;
                        position: absolute;
                        z-index: 2;
                        box-shadow: 3px 3px 3px $lightish-grey;

                        & > ul > li {
                            padding: 1em;

                            &:nth-child(2n) {
                                background-color: $lighter-grey;
                            }

                            h3 {
                                font-family: $body-font;
                                font-size: 1em;
                                font-weight: bold;
                                border-bottom: none;
                                margin-bottom: 0;
                            }

                            input {
                                @include grid-span(24,1);
                            }

                            button {
                                @include grid-span(8,9);
                                clear: both;
                                background-color: transparent;
                                color: $blue;
                                text-align: center;
                                font-weight: bold;

                                &:hover {
                                    background-color: transparent;
                                }

                                &:active {
                                    background-color: transparent;
                                    color: $dark-blue;
                                }
                            }

                            .error {
                                clear: both;
                                margin-bottom: 0;
                            }

                            ul {
                                margin-top: 1em;

                                li {
                                    display: inline-block;
                                    margin: 0.25em 0.5em 0.25em 0;

                                    &:after {
                                        content: ',';
                                    }

                                    &:last-child:after, &.tag:after {
                                        content: '';
                                    }
                                }
                            }
                        }

                        @include breakpoint($tablet) {
                            position: static;
                            box-shadow: none;
                            margin-bottom: 0;

                            & > ul > li {
                                input {
                                    @include grid-span(18,1);
                                }

                                button {
                                    clear: none;
                                    @include grid-span(6,19);
                                    text-align: left;
                                }
                            }
                        }
                    }

                    @include breakpoint($tablet) {
                        &:last-child div.detail-view {
                            margin-bottom: 0;
                        }
                    }
                }
            }

            .rules, .notifications, .total {
                padding: 1em;


                div > .rule-group, .notification-choices {
                    margin-top: 1em;
                    padding-left: 1.5em;
                }

                .notification-choices {
                    margin-top: 1.5em;
                }

                .rule-group {
                    background-color: rgba($blue, 0.2);
                    padding: 0.5em 1.5em;
                    margin-left: -1.5em;
                    margin-right: -1.5em;

                    @include breakpoint($tablet) {
                        background-color: transparent;
                        padding: 0;
                        margin-left: 0;
                        margin-right: 0;
                    }
                }

                .notification-choices li {
                    display: block;

                    select, input {
                        margin: 0;
                    }
                }

                .rule, .rule-group-heading {
                    position: relative;
                    display: block;
                    margin-top: 0.5em;
                    margin-bottom: 0.5em;

                    &:after {
                        content: ".";
                        display: block;
                        height: 0;
                        clear: both;
                        visibility: hidden;
                    }

                    span {
                        margin-top: 1em;
                        margin-bottom: 0.5em;
                        font-weight: bold;
                        display: block;

                        @include breakpoint($tablet) {
                            display: inline;
                            margin-top: 0;
                            margin-bottom: 0;
                            font-size: 0.85em;
                        }
                    }
                }

                .rule-group-heading.top {
                    margin-top: 0;
                }

                .rule-group-heading {
                    margin-top: 0.5em;
                    margin-bottom: 0.5em;
                }

                .rule {
                    width: 100%;
                    margin-top: 0.5em;

                    @include breakpoint($tablet) {
                        select, input {
                            width: auto;
                            margin-top: 0;
                        }
                    }
                }

                select, input {
                    @include breakpoint($tablet) {
                        font-size: 0.85em;
                    }
                }

                .total {
                    margin: 2em 0 0 0;
                    font-weight: bold;
                }

                .error span {
                    margin-top: 0.5em;
                    @extend .error;
                }
            }
        }
    }
}

.context {
    @include grid-span(24,1);
    padding-bottom: 1em;

    @include breakpoint($desktop) {
        @include grid-span(5,20);
    }

    select.folders {
        display: inline;
        width: 100%;
        margin-bottom: 2em;

        @include breakpoint($desktop) {
            display: none;
        }
    }

    ul.folders {
        margin: 0;
        padding-left: 0;
        display: none;

        @include breakpoint($desktop) {
            display: block;
        }

        li {
            display: inline;

            a, p {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: block;
                padding: 0.35em 0 0.35em 1.5em;
                font-weight: bold;
                // border-left: 1px solid $light-blue;

                &.selected {
                    // border-left: none;
                    // border-top: 1px solid $light-blue;
                    // border-bottom: 1px solid $light-blue;
                    // border-right: 1px solid $light-blue;
                    color: $grey;
                }

                &.folder {
                    &:before {
                        margin-left: -1.25em;
                        margin-right: 0.35em;
                        display: inline-block;
                        width: 0;
                        height: 0;
                        content: "";
                        vertical-align: -1px;
                        border: 6px solid;
                        border-right-color: transparent;
                        border-top-color: transparent;
                        border-bottom-color: transparent;
                    }

                    &.open:before {
                        margin-left: -1.5em;
                        margin-right: 0.6em;
                        display: inline-block;
                        width: 0;
                        height: 0;
                        content: "";
                        vertical-align: -5px;
                        border: 6px solid;
                        border-right-color: transparent;
                        border-left-color: transparent;
                        border-bottom-color: transparent;
                    }
                }
            }

            p {
                color: $lightish-grey;
                font-size: inherit;
                line-height: inherit;
            }
        }

        &.folders li > ul li a, &.folders li > ul li p {
            padding-left: 2.75em;
        }

        &.folders li > ul li > ul li a, &.folders li > ul li > ul li p {
            padding-left: 4.1em;
        }

        &.folders li > ul li > ul li > ul li a, &.folders li > ul li > ul li > ul li p {
            padding-left: 5.5em;
        }
    }

    @include breakpoint($desktop) {
        & > ul.folders {
            margin-bottom: 2em;
        }
    }

    .actions {
        @include breakpoint($tablet) {
            position: absolute;
            width: grid-span(8,17);
            right: 0;
            top: 0;
            margin-top: 3em;
        }

        @include breakpoint($desktop) {
            position: static;
            width: auto;
            margin-top: 0;
        }

        button, a.button {
            width: 100%;

            @include breakpoint($desktop) {
                @include grid-span(24,1);

                &:nth-child(3n) {
                    @include grid-span(24,1);
                }
            }

            span {
                float: right;
                margin-top: 1px;
            }
        }
    }
}