section.signon, section.signup, section.reset {
    a {
        color: $light-blue;

        &:hover {
            color: $dark-blue;
        }
    }

    form.signon, form.signup, form.reset {
        @include clearfix;
        color: $white;

        .error {
            color: $white;
        }

        fieldset {
            label.remember {
                margin-top: 0.5em;
                display: block;
                width: 100%;

                input {
                    width: auto;
                    margin-top: 1em;
                }

                .reset {
                    float: right;
                    margin-top: 1em;
                }
            }

            button {
                color: $white;
                padding: 0.25em;
                border-radius: 0.5em;
                border: solid 0.25em $white;
                font-size: 1.2em;
                background-color: transparent;

                &:hover {
                    background-color: $white;
                    color: $blue;
                }
            }
        }
    }

    @include breakpoint($tablet) {
        form.signon, form.signup, form.reset {
            fieldset label.remember {
                input, .reset {
                    margin-top: 0;
                }
            }
        }
    }
}