section.subscription {
    li {
        line-height: 1em;
    }
}

section.card, section.subscribe, section.update {
    .plans {
        @include clearfix;
        margin-bottom: 2em;

        input {
            display: none;
        }

        label {
            @include clearfix;
            opacity: 0.7;
            display: block;
            width: 100%;
            color: $white;
            background-color: $blue;
            clear: both;
            float: none;
            border-radius: 0.5em;
            padding: 2em;
            margin-top: 1em;
            transition: transform 0.1s ease, opacity 0.1s ease;
            text-align: center;
            position: relative;

            &:hover {
                transform: scale(1.05);
                cursor: pointer;
            }

            &:first-child {
                margin-top: 0;
            }

            &.pro {
                background-color: $purple;
            }

            &.enterprise {
                background-color: $red;
            }

            .plan {
                @include grid-span(10,1);

                i {
                    position: absolute;
                    font-size: 3em;
                    right: 0.15em;
                    top: 0.15em;
                    opacity: 0;
                    transform: scale(1.25);
                    transition: transform 0.3s ease, opacity 0.3s ease;
                }

                .type {
                    font-family: $header-font;
                    font-size: 2em;
                }

                .price {
                    span {
                        vertical-align: top;
                        display: inline-block;
                    }

                    .unit {
                        font-size: 2.5em;
                        padding-top: 0.175em;
                    }

                    .dollars {
                        font-size: 4em;
                    }

                    .cents {
                        font-size: 1.25em;
                        padding-top: 1em;
                    }
                }

                .permonth {
                    font-size: 0.9em;
                }
            }

            .facts {
                @include grid-span(12,13);

                margin-top: 2em;
                text-align: left;
                list-style-type: disc;

                li {
                    display: list-item;
                    line-height: 1em;
                }
            }
        }

        input[type=radio]:checked + label, label:hover {
            opacity: 1;
        }

        input[type=radio]:checked + label .plan i {
            opacity: 1;
            transform: scale(1);
        }
    }

    input.month {
        width: 15%;
    }

    input.year {
        width: 15%;
        margin-left: 1em;
    }

    input.cvc {
        width: 20%;
    }

    @include breakpoint($tablet) {
        .plans {
            @include add-gutter(1);

            label {
                @include float-span(8);
                margin-top: 0;
                height: 18em;

                &:last-child {
                    @include float-span(8, 'last');
                }

                .plan, .facts {
                    width: auto;
                    float: none;
                    margin: 0;
                }

                .facts {
                    position: absolute;
                    left: 1em;
                    right: 1em;
                    bottom: 0;
                    padding: 1em;
                }
            }
        }
    }

    @include breakpoint($desktop) {
        input.month, input.cvc {

        }

        input.year {
            float: none;
            display: inline-block;
        }
    }
}