            <footer>
                <ul>
                    <li><span>&copy; 2015 Dewy</span></li>
                    <li><a href="">Contact</a></li>
                    <li><a href="">Help</a></li>
                </ul>
            </footer>
        </div>
    </body>
</html>
