<!doctype html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Dewey</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
        <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
        <link rel="stylesheet" href="css/styles.css">

        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <header>
            <div>
                <h1>Dewey</h1>
                <div class="search">
                    <input type="text" placeholder="Search" />
                </div>
            </div>
        </header>

        <section id="content">

        </section>

        <!-- Templates -->
        <script id="sites" type="text/template">
            <section class="sites">
                <div class="header">
                    <div class="environment">
                        <h2>Sites <span>(<%- sitecount %> sites)</span></h2>
                    </div>
                    <ul class="headers">
                        <li class="modules-enabled">
                            <span>Enabled modules</span>
                            <a aria-label="Sort Up">
                              <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                            </a>
                            <a aria-label="Sort Down">
                              <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li class="modules-total">
                            <span>Total modules</span>
                            <a aria-label="Sort Up">
                              <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                            </a>
                            <a aria-label="Sort Down">
                              <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li class="users">
                            <span>Users</span>
                            <a aria-label="Sort Up">
                              <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                            </a>
                            <a aria-label="Sort Down">
                              <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li class="roles">
                            <span>Roles</span>
                            <a aria-label="Sort Up">
                              <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                            </a>
                            <a aria-label="Sort Down">
                              <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li class="files">
                            <span>Files (private)</span>
                            <a aria-label="Sort Up">
                              <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                            </a>
                            <a aria-label="Sort Down">
                              <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li class="lastaccess">
                            <span>Last sign on</span>
                            <a aria-label="Sort Up">
                              <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                            </a>
                            <a aria-label="Sort Down">
                              <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="list">
                </div>
            </section>
        </script>

        <script id="site" type="text/template">
            <div class="site">
                <div class="title">
                    <h3><%= site %></h3>
                </div>
                <ul class="details">
                    <li class="modules-enabled"><%- enabledmodulecount %></li>
                    <li class="modules-total"><%- totalmodulecount %></li>
                    <li class="users"><%- usercount %></li>
                    <li class="roles"><%- rolecount %></li>
                    <li class="files"><%- filecount %> (<%= privatefilecount %>)</li>
                    <li class="lastaccess"><%- jQuery.timeago(lastaccess) %></li>
                </ul>
            </div>
        </script>

        <!-- Scripts -->
        <script src="js/vendor/jquery-2.1.4.min.js"></script>
        <script src="js/vendor/jquery.timeago-1.4.1.js"></script>
        <script src="js/vendor/jquery.couch.js"></script>

        <script src="js/vendor/underscore-1.8.3.min.js"></script>
        <script src="js/vendor/backbone-1.2.1.min.js"></script>
        <script src="js/vendor/backbone-couchdb-1.2.2.js"></script>

        <script src="js/models/site.js"></script>
        <script src="js/collections/sites.js"></script>
        <script src="js/views/sites.js"></script>
        <script src="js/routers/router.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>
