section.signon, section.signup {
    form.signon, form.signup {
        @include clearfix;
        color: $white;
        margin-top: 3em;

        span.error {
            margin-top: 0.25em;
            margin-bottom: 0.5em;
            color: $white;
        }

        fieldset {
            span.messages {
                display: block;
                font-weight: bold;
                margin-bottom: 1.5em;
            }

            label.remember {
                margin-top: 0.5em;
                display: block;
                width: 100%;

                input {
                    width: auto;
                }
            }

            button {
                margin-top: 2em;
                color: $white;
                padding: 0.25em;
                border-radius: 0.5em;
                border: solid 0.25em $white;
                font-size: 1.2em;
                background-color: transparent;

                &:hover {
                    background-color: $white;
                    color: $blue;
                }
            }
        }
    }
}

section.signon {
    padding-top: 2em;
    padding-bottom: 5em;
}

section.signup {
    padding-top: 1em;
    padding-bottom: 8em;
}