// Third-party
@import '../../bower_components/reset-css/_reset';
@import '../../bower_components/breakpoint-sass/stylesheets/breakpoint';
@import '../../bower_components/singularity/stylesheets/singularitygs';
@import '../../bower_components/singularity/stylesheets/singularitygs/helpers/clearfix';

// Variables
@import 'variables/breakpoints';
@import 'variables/colours';
@import 'variables/typography';

// Modules
@import 'modules/arrows';

// Partials
@import 'partials/buttons';
@import 'partials/body';
@import 'partials/elements';
@import 'partials/footer';
@import 'partials/forms';
@import 'partials/header';
@import 'partials/headers';
@import 'partials/sections';
@import 'partials/shell';

// Layout
@import 'layout/account';
@import 'layout/index';
@import 'layout/list';
@import 'layout/manage-filters';
@import 'layout/manage-sites';
@import 'layout/overview';
@import 'layout/post';
@import 'layout/signon-signup';
@import 'layout/subscription';


// Animations
div.site.ng-enter,
.detail-view.ng-leave,
{
    transition: 0 ease all;
    position: relative;
    display: block;
}

.rule.ng-enter, 
.rule.ng-leave,
.detail-view.ng-enter, 
.detail-view div.ng-enter,
div.site.ng-leave,
.noresults.ng-enter, 
.noresults.ng-leave,
{ 
    transition: 400ms ease all;
    position: relative;
    display: block;
} 

.rule.ng-enter.ng-enter-active, 
.rule.ng-leave,
.detail-view div.ng-enter.ng-enter-active, 
.detail-view div.ng-leave,
{
    opacity: 1;
    top: 0;
}

.rule.ng-leave.ng-leave-active,
.rule.ng-enter,
.detail-view div.ng-leave.ng-leave-active,
.detail-view div.ng-enter,
{
    opacity: 0;
    top: -50px;
}

.noresults.ng-enter.ng-enter-active, 
.noresults.ng-leave,
div.site.ng-enter.ng-enter-active,
div.site.ng-leave,
.detail-view.ng-enter.ng-enter-active, 
.detail-view.ng-leave,
.load.ng-enter.ng-enter-active span,
.load.ng-leave span,
{
    opacity: 1;
}

.noresults.ng-leave.ng-leave-active,
.noresults.ng-enter,
div.site.ng-leave.ng-leave-active,
div.site.ng-enter,
.detail-view.ng-leave.ng-leave-active,
.detail-view.ng-enter,
.load.ng-leave.ng-leave-active span,
.load.ng-enter span,
{
    opacity: 0;
}

.currentuser-reset {
    opacity: 0;
}

.currentuser-reset-remove-active {
    transition: 0.4s ease opacity;
    opacity: 1;
}
