<!doctype html>
<html lang="en" ng-app="dewy">
    <head>
        <base href="/">
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>dewy | Take back Drupal</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="https://use.typekit.net/nxo7wkc.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
        <script src="https://js.stripe.com/v2/"></script>
        <script src="/js/bower.js"></script>
        <script src="/js/app.js"></script>
        <script src="/js/services.js"></script>
        <script src="/js/factories.js"></script>
        <script src="/js/directives.js"></script>
        <script src="/js/controllers.js"></script>
        <script src="/js/scripts.js"></script>
    </head>
    <body ng-controller="appController" ng-class="{app: appPage}">
        <div id="load" ng-if="isViewLoading"></div>
        <div class="wrapper">
            <div id="flash-message">
                <li ng-repeat="message in flashMessages track by $index" class="{{message.type}}">
                    {{message.content}}
                </li>
            </div>
            <header>
                <div class="shell">
                    <nav>
                        <input type="checkbox" id="menu-toggle-value" />
                        <div>
                            <ul ng-show="!appPage" class="home">
                                <li><a class="scroll" href="#signup">Sign up</a></li><li><a href="/signon" class="important">Sign on</a></li>
                            </ul>
                            <ul ng-show="appPage" class="app">
                                <li><a href="/sites" ng-class="{selected: menuItem=='overview'}">Overview</a></li><li><a href="/manage" ng-class="{selected: menuItem=='manage'}">Manage sites</a></li><li><a href="/filters" ng-class="{selected: menuItem=='filters'}">Manage filters</a></li><li><a href="" class="icon drop" ng-class="{selected: menuItem=='account'}" current-user><img src="http://www.gravatar.com/avatar/{{currentUser.gravatar}}?s=64" alt=""/>Signed in as {{currentUser.username}}</a><ul class="dropdown">
                                    <li><a href="/account">Account</a></li>
                                    <li><a href="/subscription">Subscription</a></li>
                                    <li><a href="" ng-click="signOff()">Sign off</a></li>
                                </ul></li>
                            </ul>
                        </div>
                        <div class="logo">
                            <a href="/"><img src="/img/dewy-white.png" alt="Dewy" ng-if="!appPage"><img src="/img/dewy.png" alt="Dewy" ng-if="appPage"></a>
                        </div>
                        <label for="menu-toggle-value" id="menu-toggle" onclick=""><i class="fa fa-bars"></i></label>
                    </nav>
                </div>
            </header>

            <div class="app" ng-view></div>

            <footer>
                <div class="shell">
                    <ul>
                        <li><span>&copy; 2016 Dewy</span></li>
                        <li><a href="https://twitter.com/dewyapp" target="_blank">@dewyapp</a></li>
                    </ul>
                </div>
            </footer>
        </div>
    </body>
</html>
