<!doctype html>
<html lang="en" ng-app="dewy">
    <head>
        <base href="/">
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Dewy | Take back Drupal</title>
        <meta name="description" content="Take back Drupal with Dewy, a service that lets you know what your Drupal sites are doing at your higher-ed institution, multi-site organization or digital agency.">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta property="fb:app_id" content="296276577393043" />
        <meta property="og:url" content="https://dewy.io/" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Take back Drupal" />
        <meta property="og:site_name" content="Dewy" />
        <meta property="og:description" content="Take back Drupal with Dewy, a service that lets you know what your Drupal sites are doing at your higher-ed institution, multi-site organization or digital agency." />
        <meta property="og:image" content="https://dewy.io/img/dewy-banner.png" />
        <meta property="og:image:type" content="image/png" />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />

        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@dewyapp">
        <meta name="twitter:creator" content="@derekmcb">
        <meta name="twitter:title" content="Dewy | Take back Drupal">
        <meta name="twitter:description" content="A service that lets you know what your Drupal sites are doing at your higher-ed institution, multi-site organization or digital agency.">
        <meta name="twitter:image" content="https://dewy.io/img/dewy-banner.png">
        <meta name="twitter:image:alt" content="Dewy banner">

        <script src="https://use.typekit.net/nxo7wkc.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
        <script src="https://js.stripe.com/v2/"></script>
        <script src="/js/scripts.min.js"></script>

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-82394949-1', 'auto');
            ga('send', 'pageview');
        </script>
    </head>
    <body ng-controller="appController" ng-class="{app: appPage}">
        <div id="load" ng-if="isViewLoading"></div>
        <div class="wrapper">
            <div id="flash-message">
                <li ng-repeat="message in flashMessages track by $index" class="{{message.type}}">
                    {{message.content}}
                </li>
            </div>
            <header>
                <div class="shell">
                    <nav>
                        <input type="checkbox" id="menu-toggle-value" />
                        <div>
                            <ul ng-show="!appPage" class="home">
                                <li><a href="/signup">Sign up</a></li><li ng-if="env == 'development'"><a href="/signon" class="important">Sign on</a></li>
                            </ul>
                            <ul ng-show="appPage" class="app">
                                <li><a href="/sites" ng-class="{selected: menuItem=='overview'}">Overview</a></li><li><a href="/manage" ng-class="{selected: menuItem=='manage'}">Manage sites</a></li><li><a href="/filters" ng-class="{selected: menuItem=='filters'}">Manage filters</a></li><li><a href="" class="icon drop" ng-class="{selected: menuItem=='account'}" current-user><img src="https://www.gravatar.com/avatar/{{currentUser.gravatar}}?s=64" alt=""/>Signed in as {{currentUser.username}}</a><ul class="dropdown">
                                    <li><a href="/account">Account</a></li>
                                    <li><a href="/subscription">Subscription</a></li>
                                    <li><a href="" ng-click="signOff()">Sign off</a></li>
                                </ul></li>
                            </ul>
                        </div>
                        <div class="logo">
                            <a href="/"><img src="/img/dewy-white.png" alt="Dewy" ng-if="!appPage"><img src="/img/dewy.png" alt="Dewy" ng-if="appPage"></a>
                        </div>
                        <label for="menu-toggle-value" id="menu-toggle" onclick=""><i class="fa fa-bars"></i></label>
                    </nav>
                </div>
            </header>

            <div class="app" ng-view>
                <div class="shell">
                    <section class="introduction">
                        <h1>Take back Drupal.</h1>
                        <p>The days of guessing what Drupal sites are doing at your higher-ed institution, multi-site organization or digital agency are over.</p>
                    </section>
                </div>
                <div class="feature">
                    <div class="shell">
                        <section class="views">
                            <h2>See it all</h2>
                            <p>Bring your sites into Dewy and discover what sites are big or small, active or stale, loved or needing love. Helpful views bring your sites into focus.</p>
                            <div class="image">
                                <img src="/img/preview_view.png" alt="Views" class="screenshot" />
                            </div>
                        </section>
                        <section class="querying">
                            <h2>Powerful querying</h2>
                            <p>Ever been in a meeting where someone asked how many Drupal sites are live? With webforms? Version 3.24? And get over 1000 hits a month? Any question, no matter how complex, can be answered with a few clicks.</p>
                            <div class="image">
                                <img src="/img/preview_query.png" alt="Queries" class="screenshot" />
                            </div>
                        </section>
                        <section class="notifications">
                            <h2>Coming soon:<br/>Notifications, integrations, mailing lists and more!</h2>
                            <p>Let your sites tell you when they need your attention. Create mailing lists of users. Talk to the Dewy API to create unique workflows. Powerful new features are on the way.</p>
                        </section>
                        <section class="getstarted">    
                            <h2>How it works</h2>
                            <ul ng-if="env != 'production'">
                                <li><span class="step">1</span><span class="instruction"><a class="scroll" href="#signup">Sign up for Dewy</a> and get a unique key.</span></li>
                                <li><span class="step">2</span><span class="instruction">Install the <a href="https://www.drupal.org/project/dewy">Drupal module</a> with that key to any site you want insight into.</span></li>
                                <li><span class="step">3</span><span class="instruction">Get all the details on all your sites.</span></li>
                            </ul>
                            <ul ng-if="env == 'production'">
                                <li><span class="step">1</span><span class="instruction">Sign up for Dewy and get a unique key.</span></li>
                                <li><span class="step">2</span><span class="instruction">Install the Drupal module with that key to any site you want insight into.</span></li>
                                <li><span class="step">3</span><span class="instruction">Get all the details on all your sites.</span></li>
                            </ul>
                        </section>
                    </div>
                </div>
            </div>

            <footer>
                <div class="shell">
                    <ul>
                        <li><span>&copy; 2016 Dewy</span></li>
                        <li><a href="https://twitter.com/dewyapp" target="_blank">@dewyapp</a></li>
                    </ul>
                </div>
            </footer>
        </div>
    </body>
</html>
