footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: $light-blue;

    ul li {
        display: inline;

        a {
            color: $white;

            &:hover {
                color: $light-blue;
            }
        }

        span, a {
            display: inline-block;
            padding: 0.5em 0;
            margin-right: 1em;
        }
    }
}