<div class="shell">
    <section class="main">
        <h2>Your account, {{currentUser.username}}</h2>
        <section class="user-info">
            <h3>User information</h3>
            <form name="profileForm" ng-submit="submitProfile(currentUser.uid)">
                <div class="load" ng-if="profileSubmit"><span class="load-message" ng-class="{error: profileSubmitStatus == 'error', success: profileSubmitStatus == 'success'}">{{profileSubmitMessage}}</span></div>
                <fieldset>
                    <div class="gravatar">
                        <img src="http://www.gravatar.com/avatar/{{currentUser.gravatar}}?s=240" alt="Gravatar"/>
                        <span>Change your profile picture at <a href="http://gravatar.com" target="_blank">Gravatar</a></span>
                    </div>
                    <div class="field">
                        <label>Your username</label>
                        <input type="text" ng-model="username" name="username" ng-change="check(currentUser.uid, 'profileForm', 'username')" />
                        <span class="error" ng-if="profileForm.username.$error.required && (profileForm.username.$touched || profileForm.$submitted)">A username is required.</span>
                        <span class="error" ng-if="profileForm.error.username">{{ profileForm.error.username }}</span>
                    </div>
                    <button ng-click="">Update profile <span class="glyphicon glyphicon-save" aria-hidden="true"></span></button>
                </fieldset>
            </form>
        </section>
        <section class="your-password">
            <h3>Your email and password</h3>
            <form name="accountForm" ng-submit="submitAccount(currentUser.uid)">
                <div class="load" ng-if="accountSubmit"><span class="load-message" ng-class="{error: accountSubmitStatus == 'error', success: accountSubmitStatus == 'success'}">{{accountSubmitMessage}}</span></div>
                <fieldset>
                    <div class="field">
                        <label>Existing password</label>
                        <input type="password" ng-model="passwordExisting" name="passwordExisting" required />
                        <span class="error" ng-if="!error.existingPassword && accountForm.passwordExisting.$error.required && (accountForm.passwordExisting.$touched || accountForm.$submitted)">Your existing password is required.</span>
                        <span class="error" ng-if="accountForm.error.existingPassword">{{ accountForm.error.existingPassword }}</span>
                    </div>
                    <hr/>
                    <div class="field">
                        <label>New email</label>
                        <input type="text" ng-model="email" name="email" ng-change="check(currentUser.uid, 'accountForm', 'email')" />
                        <span class="error" ng-if="accountForm.error.email">{{ accountForm.error.email }}</span>
                    </div>
                    <div class="field">
                        <label>New password</label>
                        <input type="password" ng-model="password" name="password" ng-change="check(currentUser.uid, 'accountForm', 'password')" />
                        <span class="error" ng-if="accountForm.error.password">{{ accountForm.error.password }}</span>
                    </div>
                    <div class="field">
                        <label>Confirm password</label>
                        <input type="password" ng-model="passwordConfirm" name="passwordConfirm" match="password" />
                        <span class="error" ng-if="accountForm.passwordConfirm.$error.match && (accountForm.passwordConfirm.$touched || accountForm.$submitted)">Passwords do not match.</span>
                    </div>
                    <span class="error" ng-if="accountForm.error.error">{{ accountForm.error.error }}</span>
                    <button ng-click="">Update account<span class="glyphicon glyphicon-save" aria-hidden="true"></span></button>
                </fieldset>
                <fieldset ng-if="currentUser.verify">
                    <hr/>
                    <span class="unverified">Your email address has not been verified.</span>
                    <button ng-click="">Resend verification email</button>
                </fieldset>
            </form>
        </section>
        <section class="subscription">
            <h3>Subscription</h3>
            <ul>
                <li class="">On Dewy since <strong>whenever</strong></li>
                <li class="">Subscription type <strong>trial</strong></li>
                <li class="">Subscription expires <strong>sometime</strong></li>
            </ul>
        </section>
    </section>
</div>