        <div class="wrapper">
            <header>
                <nav>
                    <ul>
                        <li><a href="">Add Drupal sites</a></li><li><a href="" class="drop"><img src="/img/avatar.jpg" alt=""/>Signed in as {{user.username}}</a><ul class="dropdown">
                            <li><a href="">Profile</a></li>
                            <li><a href="">Settings</a></li>
                            <li><a href="/signoff">Sign off</a></li>
                        </ul></li>
                    </ul>
                </nav>
                <div class="logo">
                    <h1>
                        <img src="/img/dewy.png" alt="Dewy">
                    </h1>
                </div>
            </header>
            <section ng-include src="page">
            </section>
            <footer>
                <ul>
                    <li><span>&copy; 2015 Dewy</span></li>
                    <li><a href="">Contact</a></li>
                    <li><a href="">Help</a></li>
                </ul>
            </footer>
        </div>