<li class="rule-group-heading" ng-class="{top: !rule._parent}" ng-if="rule.operator">
    <a class="handle" ng-if="rule._parent"><i class="fa fa-bars"></i></a>
    <select ng-model="rule.operator" ng-options="operator as operator for operator in operators"></select>
    <span class="label">of the following rules:</span>
    <div class="buttons" ng-if="rule._parent" ng-include="'templates/rule_buttons.html'"></div>
</li>
<ul class="rule-group" ui-sortable="sortableOptions" ng-model="rule.rules">
    <li class="rule" ng-repeat="rule in rule.rules" ng-form="rulesForm">
        <div ng-if="rule.operator" ng-init="rule._parent=true" ng-include="'templates/filter_tree.html'"></div>
        <div ng-if="!rule.operator">
            <a class="handle"><i class="fa fa-bars"></i></a>
            <select class="field" ng-model="rule.field" ng-options="field.title as field.title for field in fields" ng-change="updateChoice(rule, '{{rule.field}}')"></select>
            <select class="choice" ng-model="rule.choice" ng-options="choice.id as choice.label for choice in getChoices(rule.field)"></select>
            <input name="value" type="text" ng-model="rule.value" ng-if="valueIsType(rule.field, 'string')" required />
            <input name="value" type="number" ng-model="rule.value" ng-if="valueIsType(rule.field, 'integer')" min="0" ng-pattern="/^[0-9]*$/" required />
            <input name="value" type="number" ng-model="rule.value" ng-if="valueIsType(rule.field, 'number')" min="0" required />
            <input name="value" type="date" data-format="yyyy-MM-dd" ng-model="rule.value.date1" ng-if="valueIsType(rule.field, 'date') && rule.choice != 'is in the last' && rule.choice != 'is not in the last'" required format-date />
            <span ng-if="valueIsType(rule.field, 'date') && rule.choice == 'is between'">and</span>
            <input name="value2" type="date" data-format="yyyy-MM-dd" ng-model="rule.value.date2" ng-if="valueIsType(rule.field, 'date') && rule.choice == 'is between'" required format-date />
            <input name="value" type="number" ng-model="rule.value.time" ng-if="valueIsType(rule.field, 'date') && (rule.choice == 'is in the last' || rule.choice == 'is not in the last')" min="0" ng-pattern="/^[0-9]*$/" required />
            <select name="value2"ng-model="rule.value.timeUnit" ng-if="valueIsType(rule.field, 'date') && (rule.choice == 'is in the last' || rule.choice == 'is not in the last')">
                <option value="days">days</option>
                <option value="weeks">weeks</option>
                <option value="months">months</option>
                <option value="years">years</option>
            </select>
            <select name="value" ng-model="rule.value" ng-options="tag as tag for tag in tags" ng-if="valueIsType(rule.field, 'tag')" /></select>
            <select class="detail" ng-model="rule.detail" ng-if="getDetails(rule.field)" ng-options="detail as detail for detail in getDetails(rule.field)"></select>
            <div class="buttons" ng-init="rule._parent=true" ng-include="'templates/rule_buttons.html'"></div>
            <div class="error">
                <span ng-show="(rulesForm.value.$error.required && (rulesForm.value.$touched || filterForm.$submitted)) || (rulesForm.value2.$error.required && (rulesForm.value2.$touched || filterForm.$submitted))">Please enter a value.</span>
                <span ng-show="rulesForm.value.$error.number">You must enter a number.</span>
                <span ng-show="rulesForm.value.$error.min">The value cannot be less than 0.</span>
                <span ng-show="rulesForm.value.$error.date || rulesForm.value2.$error.date">You must enter a date of format YYYY-MM-DD.</span>
                <span ng-show="rulesForm.value.$error.pattern">You must enter an integer.</span>
            </div>
        </div>
    </li>
</ul>