<li ng-repeat="filter in filterList">
    <div class="filter">
        <a class="handle"><i class="fa fa-bars"></i></a>
        <editablespan ng-if="filter.filters" model="filter.folder" on-ready="updateIndex()" input-type="text"></editablespan>
        <span ng-if="filter.fid">{{filters[filter.fid].title}}</span>
        <div class="buttons">
            <a ng-if="filter.filters" class="button" href="" ng-click="deleteFolder(filter)"><i class="fa fa-minus"></i></a>
            <a class="button" href="" ng-click="addFolder(filter)"><i class="fa fa-plus"></i></a>
        </div>
    </div>
    <ul ng-if="filter.folder" ng-init="filterList=filter.filters" ng-include="'templates/filter_index.html'" ui-sortable="sortableOptions" ng-model="filterList" class="filter-group" ng-class="{placeholder: !filterList.length}"></ul>
</li>