                <div class="main">
                    <form name="form" ng-submit="saveFilter()">
                        <h2>
                            <input name="title" type="text" placeholder="Filter title" ng-model="currentFilter.title" value="{{currentFilter.title}}" required autofocus />
                        </h2>
                        <span id="titleerror" ng-show="form.title.$error.required && (form.title.$touched || form.$submitted)">A title is required.</span>
                        <div class="view">
                            <div class="content">
                                <ul class="rules" ng-init="rule=currentFilter" ng-if="currentFilter" ng-include="'templates/filter_tree.html'">
                                    <p class="total">3 sites matched under these rules</p>
                                </ul>
                            </div>
                            <div class="content">
                                <ul class="notifications">
                                    <label><input type="checkbox"> Configure notifications on this site filter</label>
                                </ul>
                            </div>
                        </div>
                        <nav class="context">
                            <div class="actions">
                                <button type="submit">Save filter <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
                                <a class="button" href="" ng-click="cancel()">Cancel changes <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                                <a class="button" href="" ng-click="deleteFilter()" ng-if="!newFilter">Delete filter <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                            </div>
                        </nav>
                    </form>
                </div>