<div class="shell">
    <section class="introduction">
        <h1>Take back Drupal.</h1>
        <p>The days of guessing what Drupal sites are doing at your Higher-Ed institution, multi-site organization or digital agency are over.</p>
    </section>
</div>
<section class="feature">
    <div class="shell">
        <section class="views">
            <h2>See it all</h2>
            <p>Bring your sites into Dewy and discover what sites are big or small, active or stale, loved or needing love. Helpful views bring your sites into focus.</p>
            <div class="image">
                <img src="/img/preview_view.png" alt="Views" class="screenshot" />
            </div>
        </section>
        <section class="querying">
            <h2>Powerful querying</h2>
            <p>Ever been in a meeting where someone asked how many Drupal sites are live? With webforms? Version 3.24? And get over 1000 hits a month? Any question, no matter how complex, answered in a few clicks.</p>
            <div class="image">
                <img src="/img/preview_query.png" alt="Queries" class="screenshot" />
            </div>
        </section>
        <section class="notifications">
            <h2>Coming soon: notifications, integrations, mailing lists and more!</h2>
            <p>Let your sites tell you when they need your attention. Create mailing lists of users. Talk to the Dewy API to create powerful workflows. Powerful new features are on the way.</p>
        </section>
        <section class="getstarted">    
            <h2>How It Works</h2>
            <ul>
                <li><span class="step">1</span><span class="instruction"><a class="scroll" href="#signup">Sign up for Dewy</a> and get a unique key.</span></li>
                <li><span class="step">2</span><span class="instruction">Install the <a href="https://www.drupal.org/project/dewy">Drupal module</a> with that key to any site you want insight into.</span></li>
                <li><span class="step">3</span><span class="instruction">Get all the details on all your sites.</span></li>
            </ul>
        </section>
    </div>
</section>
<ng-include src="'templates/signup.html'"></ng-include>