<label><input type="checkbox" ng-model="notificationsOn" ng-change="updateNotifications(notificationsOn)" /> Configure notifications on this filter</label>
<ul class="notification-choices" ng-if="notificationsOn" ng-form="notificationForm">
    <li><label><input type="checkbox" ng-model="currentFilter.notifications.appears.enabled" /> Send an email when a site appears in this filter</label></li>
    <li><label><input type="checkbox" ng-model="currentFilter.notifications.disappears.enabled" /> Send an email when a site disappears from this filter</label></li>
    <li>
        <label><input type="checkbox" ng-model="currentFilter.notifications.total.enabled" /> Send an email when the total number of sites </label>
        <select ng-model="currentFilter.notifications.total.choice" ng-init="currentFilter.notifications.total.choice=notificationChoices[0]"  ng-options="choice as choice for choice in notificationChoices"></select>
        <input name="value" type="number" ng-model="currentFilter.notifications.total.value" min="0" ng-required="currentFilter.notifications.total.enabled" />
        <div class="error">
            <span ng-show="notificationForm.value.$error.required && (notificationForm.value.$touched || filterForm.$submitted)">Please enter a value.</span>
            <span ng-show="notificationForm.value.$error.number">You must enter a number.</span>
            <span ng-show="notificationForm.value.$error.min">The value cannot be less than 0.</span>
        </div>
    </li>
</ul>