<div class="content" ng-controller="overviewModulesController">
    <div class="header">
        <ul class="site">
            <li class="title"><a href="" ng-class="{selected: sort.column=='title', desc: sort.descending, asc: !sort.descending}" ng-click="changeSorting('title')">{{filteredModules.length}} modules</a></li>
            <ul class="variables">
                <li class="installRate"><a href="" ng-class="{selected: sort.column=='installRate', desc: sort.descending, asc: !sort.descending}" ng-click="changeSorting('installRate')">Enabled rate</a></li>
                <li class="installed"><a href="" ng-class="{selected: sort.column=='installed', desc: sort.descending, asc: !sort.descending}" ng-click="changeSorting('installed')">Sites Installed</a></li>
                <li class="available"><a href="" ng-class="{selected: sort.column=='available', desc: sort.descending, asc: !sort.descending}" ng-click="changeSorting('available')">Sites Available</a></li>
            </ul>
        </ul>
    </div>
    <div class="sites">
        <div ng-repeat="module in filteredModules = (modules | filter:query) | orderBy:sort.column:sort.descending" class="site">
            <ul class="site">
                <li class="title" ng-class="{open: openModule.sid == site.sid && !openModule.detail}"><a href="" ng-click="openDetails(modules.indexOf(module))"><span class="title">{{module.module}}</span></a></li>
                <ul class="variables">
                    <li class="installRate" ng-class="{open: openModule.sid == site.sid && openModule.detail == 'installRate'}">
                        <a href="" ng-click="openDetails(modules.indexOf(module), 'installRate')">{{module.installRate}}%</a>
                    </li>
                    <li class="installed" ng-class="{open: openModule.sid == site.sid && openModule.detail == 'installed'}">
                        <a href="" ng-click="openDetails(modules.indexOf(module), 'installed')">{{module.totalInstalls}}</a>
                    </li>
                    <li class="available" ng-class="{open: openModule.sid == site.sid && openModule.detail == 'available'}">
                        <a href="" ng-click="openDetails(modules.indexOf(module), 'available')">{{module.total}}</a>
                    </li>
                </ul>
            </ul>
    </div>
</div>