<div class="content" ng-controller="overviewModulesController">
    <div class="header">
        <ul class="site">
            <li class="title"><a href="" ng-class="{selected: sort.column=='title', desc: sort.descending, asc: !sort.descending}" ng-click="changeSorting('title')">{{filteredModules.length}} modules</a></li>
            <ul class="variables">
                <li class="securityUpdates"><a href="" ng-class="{selected: sort.column=='securityUpdates', desc: sort.descending, asc: !sort.descending}" ng-click="changeSorting('securityUpdates')">Security</a></li>
                <li class="updates"><a href="" ng-class="{selected: sort.column=='updates', desc: sort.descending, asc: !sort.descending}" ng-click="changeSorting('updates')">Version</a></li>
                <li class="installRate"><a href="" ng-class="{selected: sort.column=='installRate', desc: sort.descending, asc: !sort.descending}" ng-click="changeSorting('installRate')">Utilization</a></li>
                <li class="total"><a href="" ng-class="{selected: sort.column=='total', desc: sort.descending, asc: !sort.descending}" ng-click="changeSorting('total')">Availablity</a></li>
            </ul>
        </ul>
    </div>
    <div class="sites">
        <div ng-repeat="module in filteredModules = (modules | filter:query) | orderBy:sort.column:sort.descending" class="site">
            <ul class="site">
                <li class="title" ng-class="{open: openModule.module == module.module && !openModule.detail}"><a href="" ng-click="openDetails(modules.indexOf(module))"><span class="title">{{module.module}}</span><span class="url" ng-show="module.totalVersions > 1">{{module.totalVersions}} versions on your sites</span></a></a></li>
                <ul class="variables">
                    <li class="securityUpdates" ng-class="{open: openModule.module == module.module && openModule.detail == 'securityUpdates'}">
                        <a href="" ng-click="openDetails(modules.indexOf(module), 'securityUpdates')">{{module.securityUpdates}} sites</a>
                    </li>
                    <li class="updates" ng-class="{open: openModule.module == module.module && openModule.detail == 'updates'}">
                        <a href="" ng-click="openDetails(modules.indexOf(module), 'updates')">{{module.updates}} sites</a>
                    </li>
                    <li class="installRate" ng-class="{open: openModule.module == module.module && openModule.detail == 'installRate'}">
                        <a href="" ng-click="openDetails(modules.indexOf(module), 'installRate')">{{module.installRate}}%</a>
                    </li>
                    <li class="total" ng-class="{open: openModule.module == module.module && openModule.detail == 'total'}">
                        <a href="" ng-click="openDetails(modules.indexOf(module), 'total')">{{module.total}} sites</a>
                    </li>
                </ul>
            </ul>
            <div class="detail-view" ng-if="openModule.module == module.module">
                <div ng-if="!openModule.detail">
                    
                </div>
                <ul ng-if="openModule.detail == 'complexity'">

                </ul>
                <ul ng-if="openModule.detail == 'size'">

                </ul>
                <ul ng-if="openModule.detail == 'activity'">

                </ul>
                <ul ng-if="openModule.detail == 'health'">

                </ul>
            </div>
        </div>
    </div>
</div>