<div class="content" ng-controller="overviewSitesController">
    <div class="header">
        <ul class="site">
            <li class="title"><a href="" ng-class="{selected: sort.column=='title', desc: sort.descending, asc: !sort.descending}" ng-click="changeSorting('title')">{{filteredSites.length}} sites</a></li>
            <ul class="variables">
                <li class="complexity"><a href="" ng-class="{selected: sort.column=='complexity', desc: sort.descending, asc: !sort.descending}" ng-click="changeSorting('complexity')">Complexity</a></li>
                <li class="size"><a href="" ng-class="{selected: sort.column=='size', desc: sort.descending, asc: !sort.descending}" ng-click="changeSorting('size')">Size</a></li>
                <li class="activity"><a href="" ng-class="{selected: sort.column=='activity', desc: sort.descending, asc: !sort.descending}" ng-click="changeSorting('activity')">Activity</a></li>
                <li class="health"><a href="" ng-class="{selected: sort.column=='health', desc: sort.descending, asc: !sort.descending}" ng-click="changeSorting('health')">Health</a></li>
            </ul>
        </ul>
    </div>
    <div class="sites">
        <div ng-if="!filteredSites.length && query" class="noresults"><span><i class="fa fa-exclamation-triangle"></i> No sites meet your criteria.</span></div>
        <div ng-repeat="site in filteredSites = (sites | filter:query) | orderBy:sort.column:sort.descending" class="site">
            <ul class="site">
                <li class="title" ng-class="{open: openSite.sid == site.sid && openSite.detail == 'meta'}"><a href="" ng-click="openDetails(sites.indexOf(site), 'meta')"><span class="title"><div class="point" ng-if="site.tags.length"></div>{{site.title}}</span><span class="url">{{site.baseurl}}</span></a></li>
                <ul class="variables">
                    <li class="complexity" ng-class="{open: openSite.sid == site.sid && openSite.detail == 'complexity'}">
                        <a href="" ng-click="openDetails(sites.indexOf(site), 'complexity')"><div class="point" ng-repeat="i in getNumber(site.complexity) track by $index"></div></a>
                    </li>
                    <li class="size" ng-class="{open: openSite.sid == site.sid && openSite.detail == 'size'}">
                        <a href="" ng-click="openDetails(sites.indexOf(site), 'size')"><div class="point" ng-repeat="i in getNumber(site.size) track by $index"></div></a>
                    </li>
                    <li class="activity" ng-class="{open: openSite.sid == site.sid && openSite.detail == 'activity'}">
                        <a href="" ng-click="openDetails(sites.indexOf(site), 'activity')"><div class="point" ng-repeat="i in getNumber(site.activity) track by $index"></div></a>
                    </li>
                    <li class="health" ng-class="{open: openSite.sid == site.sid && openSite.detail == 'health'}">
                        <a href="" ng-click="openDetails(sites.indexOf(site), 'health')"><div class="point" ng-repeat="i in getNumber(site.health) track by $index"></div></a>
                    </li>
                </ul>
            </ul>
            <div class="detail-view" ng-if="openSite.sid == site.sid">
                <ul ng-if="openSite.detail == 'meta'">
                    <li>
                        <h3><span class="number">{{openSite.details.tags.length}}</span> tags assigned</h3>
                        <ul class="items" ng-if="openSite.details.tags.length">
                            <li ng-repeat="tag in openSite.details.tags" class="tag">{{tag}} <a href="" ng-click="deleteTag($index, sites.indexOf(site))"><i class="fa fa-times"></i></a></li>
                        </ul>
                    </li>
                    <li>
                        <form name="tagForm{{sites.indexOf(site)}}" ng-submit="addTags(sites.indexOf(site))">
                            <input placeholder="Tags seperated by commas" name="tags" ng-model="tags" required />
                            <button type="submit">Add tags <i class="fa fa-plus-circle"></i></button>
                            <span class="error" ng-show="tagForm{{sites.indexOf(site)}}.tags.$error.required && (tagForm{{sites.indexOf(site)}}.tags.$touched || tagForm{{sites.indexOf(site)}}.$submitted)">Please enter a tag.</span>
                        </form>
                    </li>
                    <li>
                        <h3><span am-time-ago="openSite.details.dateAdded * 1000" class="number"></span> since site was added to Dewy</h3>
                    </li>
                </ul>
                <ul ng-if="openSite.detail == 'complexity'">
                    <li>
                        <h3><span class="number">{{openSite.details.enabledModules.length}}</span> modules enabled</h3>
                        <ul class="items">
                            <li ng-repeat="item in openSite.details.enabledModules">{{item}}</li>
                        </ul>
                    </li>
                    <li>
                        <h3><span class="number">{{openSite.details.availableModules.length}}</span> modules available</h3>
                        <ul class="items">
                            <li ng-repeat="item in openSite.details.availableModules">{{item}}</li>
                        </ul>
                    </li>
                    <li>
                        <h3><span class="number">{{openSite.details.contentTypes.length}}</span> content types</h3>
                        <ul class="items">
                            <li ng-repeat="item in openSite.details.contentTypes">{{item}}</li>
                        </ul>
                    </li>
                    <li>
                        <h3><span class="number">{{openSite.details.roles.length}}</span> roles</h3>
                        <ul class="items">
                            <li ng-repeat="item in openSite.details.roles">{{item}}</li>
                        </ul>
                    </li>
                </ul>
                <ul ng-if="openSite.detail == 'size'">
                    <li>
                        <h3><span class="number">{{openSite.details.nodes}}</span> nodes</h3>
                    </li>
                    <li>
                        <h3><span class="number">{{openSite.details.users.length}}</span> users</h3>
                        <ul class="items">
                            <li ng-repeat="item in openSite.details.users">{{item}}</li>
                        </ul>
                    </li>
                    <li>
                        <h3><span class="number">{{openSite.details.files}}</span> files</h3>
                    </li>
                    <li>
                        <h3><span class="number">{{openSite.details.words}}</span> words</h3>
                    </li>
                    <li>
                        <h3><span class="number">{{openSite.details.diskSpace}}</span> MB disk size</h3>
                    </li>
                </ul>
                <ul ng-if="openSite.detail == 'activity'">
                    <li>
                        <h3><span am-time-ago="openSite.details.lastAccess * 1000" class="number"></span> since last access to the site</h3>
                    </li>
                    <li>
                        <h3><span am-time-ago="openSite.details.avgLastAccess * 1000" class="number"></span> since last access for an average user</h3>
                    </li>
                    <li>
                        <h3><span am-time-ago="openSite.details.lastModified * 1000"  class="number"></span> since last modification to the site</h3>
                    </li>
                    <li>
                        <h3><span am-time-ago="openSite.details.avgLastModified * 1000"  class="number"></span> since last modification for an average node</h3>
                    </li>
                </ul>
                <ul ng-if="openSite.detail == 'health'">
                    <li>
                        <h3><span class="number">{{openSite.details.modulesWithUpdates.length}}</span> modules have updates</h3>
                        <ul class="items">
                            <li ng-repeat="item in openSite.details.modulesWithUpdates">{{item}}</li>
                        </ul>
                    </li>
                    <li>
                        <h3><span class="number">{{openSite.details.modulesWithSecurityUpdates.length}}</span> modules have security updates</h3>
                        <ul class="items">
                            <li ng-repeat="item in openSite.details.modulesWithSecurityUpdates">{{item}}</li>
                        </ul>
                    </li>
                    <li>
                        <h3><span class="number">{{openSite.details.databaseUpdates}}</span> database updates pending</h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>