<div class="content" ng-controller="overviewModulesController">
    <div class="header">
        <ul class="site">
            <li class="title"><a href="" ng-class="{selected: sort.column=='title', desc: sort.descending, asc: !sort.descending}" ng-click="changeSorting('title')">{{filteredModules.length}} modules</a></li>
            <ul class="variables">
                <li class="securityUpdates"><a href="" ng-class="{selected: sort.column=='securityUpdates', desc: sort.descending, asc: !sort.descending}" ng-click="changeSorting('securityUpdates')">Security updates</a></li>
                <li class="updates"><a href="" ng-class="{selected: sort.column=='updates', desc: sort.descending, asc: !sort.descending}" ng-click="changeSorting('updates')">Updates</a></li>
                <li class="installRate"><a href="" ng-class="{selected: sort.column=='installRate', desc: sort.descending, asc: !sort.descending}" ng-click="changeSorting('installRate')">Enabled rate</a></li>
                <li class="total"><a href="" ng-class="{selected: sort.column=='total', desc: sort.descending, asc: !sort.descending}" ng-click="changeSorting('total')">Available to</a></li>
            </ul>
        </ul>
    </div>
    <div class="sites">
        <div ng-repeat="module in filteredModules = (modules | filter:query) | orderBy:sort.column:sort.descending" class="site">
            <ul class="site">
                <li class="title" ng-class="{open: openModule.sid == site.sid && !openModule.detail}"><a href="" ng-click="openDetails(modules.indexOf(module))"><span class="title">{{module.module}}</span></a></li>
                <ul class="variables">
                    <li class="securityUpdates" ng-class="{open: openModule.sid == site.sid && openModule.detail == 'securityUpdates'}">
                        <a href="" ng-click="openDetails(modules.indexOf(module), 'securityUpdates')">{{module.securityUpdates}} sites</a>
                    </li>
                    <li class="updates" ng-class="{open: openModule.sid == site.sid && openModule.detail == 'updates'}">
                        <a href="" ng-click="openDetails(modules.indexOf(module), 'updates')">{{module.updates}} sites</a>
                    </li>
                    <li class="installRate" ng-class="{open: openModule.sid == site.sid && openModule.detail == 'installRate'}">
                        <a href="" ng-click="openDetails(modules.indexOf(module), 'installRate')">{{module.installRate}}%</a>
                    </li>
                    <li class="total" ng-class="{open: openModule.sid == site.sid && openModule.detail == 'total'}">
                        <a href="" ng-click="openDetails(modules.indexOf(module), 'total')">{{module.total}} sites</a>
                    </li>
                </ul>
            </ul>
    </div>
</div>