<div class="shell">
    <section class="main">
        <h2><a href="/filter/{{currentFilter.fid}}" ng-if="currentFilter">{{currentFilter.title}}<span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a><span ng-if="!currentFilter">All sites</span></h2>
        <nav class="context">
            <select class="folders" ng-init="selectedFilter = currentFilter.fid" ng-model="selectedFilter" ng-options="filter.fid as filter.title for filter in filters" ng-change="changeFilter(selectedFilter)">
                <option value="">All sites</option>
            </select>
            <ul class="folders">
                <li><a href="/{{view}}" ng-class="{selected: !currentFilter}">All sites</a></li>
                <li ng-repeat="filter in filters" ng-include="'templates/filter_menu_item.html'"></li>
            </ul>
            <div class="actions">
                <button ng-click="addFolder()">Add folder <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></button>
                <a href="/filter" class="button">Add filter <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></a>
            </div>
        </nav>
        <div class="view">
            <div class="tabs">
                <ul>
                    <li ng-class="{selected: view == 'sites'}">
                        <a href="/sites" ng-if="!currentFilter">Sites</a>
                        <a href="/sites/{{currentFilter.fid}}" ng-if="currentFilter">Sites</a>
                    </li>
                    <li ng-class="{selected: view == 'modules'}">
                        <a href="/modules" ng-if="!currentFilter">Modules</a>
                        <a href="/modules/{{currentFilter.fid}}" ng-if="currentFilter">Modules</a>
                    </li>
                    <li ng-class="{selected: view == 'users'}">
                        <a href="/users" ng-if="!currentFilter">Users</a>
                        <a href="/users/{{currentFilter.fid}}" ng-if="currentFilter">Users</a>
                    </li>
                    <li ng-class="{selected: view == 'content'}">
                        <a href="/content" ng-if="!currentFilter">Content</a>
                        <a href="/content/{{currentFilter.fid}}" ng-if="currentFilter">Content</a>
                    </li>
                </ul>
            </div>
            <div class="search">
                <form>
                    <input type="text" placeholder="Search sites" ng-model="query" />
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </form>
            </div>
            <ng-include src="viewPage">
        </div>
    </section>
</div>