        <section class="signon">
            <form method="post" action="/signon" class="signon">
            <fieldset>
                <span class="messages" ng-if="message">
                    {{message}}
                </span>
                <input id="username" name="username" placeholder="Your username" />
                <input id="password" name="password" placeholder="Your password" type="password" />
                <label class="remember">
                    <input id="remember" name="remember" type="checkbox" value="on" />
                    <span>Remember me</span>
                </label>
                <button type="submit">Sign on</button>
            </fieldset>
            </form>
        </section>