<div class="shell">
    <section class="signon" ng-controller="signonController">
        <h2>Sign on</h2>
        <form ng-submit="submit()" class="signon" name="form">
        <fieldset>
            <span class="messages">
                {{ message }}
            </span>
            <input id="username" name="username" ng-model="username" placeholder="Your username" required />
            <span class="error" ng-if="form.username.$error.required && (form.username.$touched || form.$submitted)">A username is required.</span>
            <input id="password" name="password" ng-model="password" placeholder="Your password" type="password" required />
            <span class="error" ng-if="form.password.$error.required && (form.password.$touched || form.$submitted)">A password is required.</span>
            <label class="remember">
                <input id="remember" name="remember" ng-model="remember" type="checkbox" value="on" />
                <span>Remember me</span>
            </label>
            <button type="submit">Sign on</button>
        </fieldset>
        </form>
    </section>
</div>