                <section class="main">
					<h2><a href="/filter/{{currentFilter.url}}" ng-if="currentFilter">{{currentFilter.title}}<span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a><span ng-if="!currentFilter">All sites</span></h2>
                    <nav class="context">
                        <select class="folders">
                            <option>Menu goes here!</option>
                        </select>
                        <ul class="folders">
                            <li><a href="/sites" ng-class="{selected: !currentFilter}">All sites</a></li>
                            <li ng-repeat="filter in filters" ng-include="'templates/filter_menu_item.html'"></li>
                        </ul>
                        <div class="actions">
                            <button ng-click="addFolder()">Add folder <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></button>
                            <button ng-click="addFilter()">Add filter <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></button>
                        </div>
                    </nav>
                    <div class="view">
                        <nav>
                            <div class="tabs">
                                <ul>
                                    <li class="selected"><a href="">Site comparison</a></li>
                                    <li><a href="">Site content</a></li>
                                    <li><a href="">Site modules</a></li>
                                </ul>
                            </div>
                            <div class="search">
                                <form>
                                    <input type="text" placeholder="Search sites" ng-model="query" />
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </form>
                            </div>
                        </nav>
                        <div class="content">
                            <div class="header">
                                <ul>
                                    <li class="title"><a href="" ng-class="{selected: sort.column=='title', desc: sort.descending, asc: !sort.descending}" ng-click="changeSorting('title')">{{filteredSites.length}} sites</a></li>
                                    <div class="variables">
                                        <ul>
                                            <li class="complexity"><a href="" ng-class="{selected: sort.column=='complexity', desc: sort.descending, asc: !sort.descending}" ng-click="changeSorting('complexity')">Complexity</a></li>
                                            <li class="size"><a href="" ng-class="{selected: sort.column=='size', desc: sort.descending, asc: !sort.descending}" ng-click="changeSorting('size')">Size</a></li>
                                            <li class="activity"><a href="" ng-class="{selected: sort.column=='activity', desc: sort.descending, asc: !sort.descending}" ng-click="changeSorting('activity')">Activity</a></li>
                                            <li class="health"><a href="" ng-class="{selected: sort.column=='health', desc: sort.descending, asc: !sort.descending}" ng-click="changeSorting('health')">Health</a></li>
                                        </ul>
                                    </div>
                                </ul>
                            </div>
                            <div class="sites">
                                <div ng-if="!filteredSites.length && query" class="noresults"><span class="glyphicon glyphicon-alert" aria-hidden="true"></span><span>No sites meet your criteria.</span></div>
                                <div ng-repeat="site in filteredSites = (sites | filter:query) | orderBy:sort.column:sort.descending" class="site">
                                    <ul class="site">
                                        <li class="title" ng-class="{open: openSite.id == site.id && !openSite.detail}"><a href="" ng-click="openDetails(sites.indexOf(site))"><h3>{{site.title}}</h3><span>{{site.base_url}}</span></a></li>
                                        <div class="variables">
                                            <ul>
                                                <li class="complexity" ng-class="{open: openSite.id == site.id && openSite.detail == 'complexity'}">
                                                    <a href="" ng-click="openDetails(sites.indexOf(site), 'complexity')"><div class="point" ng-repeat="i in getNumber(site.complexity) track by $index"></div></a>
                                                </li>
                                                <li class="size" ng-class="{open: openSite.id == site.id && openSite.detail == 'size'}">
                                                    <a href="" ng-click="openDetails(sites.indexOf(site), 'size')"><div class="point" ng-repeat="i in getNumber(site.size) track by $index"></div></a>
                                                </li>
                                                <li class="activity" ng-class="{open: openSite.id == site.id && openSite.detail == 'activity'}">
                                                    <a href="" ng-click="openDetails(sites.indexOf(site), 'activity')"><div class="point" ng-repeat="i in getNumber(site.activity) track by $index"></div></a>
                                                </li>
                                                <li class="health" ng-class="{open: openSite.id == site.id && openSite.detail == 'health'}">
                                                    <a href="" ng-click="openDetails(sites.indexOf(site), 'health')"><div class="point" ng-repeat="i in getNumber(site.health) track by $index"></div></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </ul>
                                    <div class="detail-view" ng-if="openSite.id == site.id">
                                        <div ng-if="!openSite.detail">
                                            <ul class="tags" ng-if="openSite.details.tags.length">
                                                <li ng-repeat="tag in openSite.details.tags">{{tag}} <a href="" ng-click="deleteTag($index, sites.indexOf(site))"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></li>
                                            </ul>
                                            <form name="tagForm{{sites.indexOf(site)}}" ng-submit="addTags(sites.indexOf(site))">
                                                <input placeholder="Tags seperated by commas" name="tags" ng-model="tags" required />
                                                <button type="submit">Add tags</button>
                                                <span class="error" ng-show="tagForm{{sites.indexOf(site)}}.tags.$error.required && (tagForm{{sites.indexOf(site)}}.tags.$touched || tagForm{{sites.indexOf(site)}}.$submitted)">Please enter a tag.</span>
                                            </form>
                                        </div>
                                        <ul ng-if="openSite.detail == 'complexity'">
                                            <li><span class="number">{{}}</span> modules enabled</li>
                                            <li><span class="number">{{}}</span> modules available</li>
                                            <li><span class="number">{{}}</span> content types</li>
                                            <li><span class="number">{{}}</span> roles</li>
                                        </ul>
                                        <ul ng-if="openSite.detail == 'size'">
                                            <li><span class="number">{{}}</span> nodes</li>
                                            <li><span class="number">{{}}</span> users</li>
                                            <li><span class="number">{{}}</span> files</li>
                                            <li><span class="number">{{}}</span> words</li>
                                        </ul>
                                        <ul ng-if="openSite.detail == 'activity'">
                                            <li><span class="number">{{}}</span> since last visit</li>
                                            <li><span class="number">{{}}</span> since last access</li>
                                            <li><span class="number">{{}}</span> since last modification</li>
                                        </ul>
                                        <ul ng-if="openSite.detail == 'health'">
                                            <li><span class="number">{{}}</span> modules out of date</li>
                                            <li><span class="number">{{}}</span> database updates pending</li>
                                        </ul>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>