<div class="shell">
    <section class="main">
        <h2 current-user>Your subscription, {{currentUser.username}}</h2>
        <section class="subscription">
            <h3>Details</h3>
            <ul>
                <li class="">You signed up with Dewy on <strong>{{currentUser.created*1000 | date:'MMMM d, yyyy'}}</strong></li>
                <li class="">You are on a <strong>{{currentUser.subscription.type}}</strong> subscription</li>
                <li class="">Your subscription expires <strong>{{currentUser.subscription.endDate*1000 | date:'MMMM d, yyyy'}}</strong></li>
            </ul>
        </section>
        <section class="subscribe">
            <h3>Payment</h3>
            <form action="" method="POST" id="payment-form">
                <span class="payment-errors"></span>
                <fieldset>
                    <div class="field">
                        <label>Card Number</label>
                        <input type="text" size="20" data-stripe="number">
                    </div>

                    <div class="field">
                        <label>Expiration (MM/YY)</label>
                        <input type="text" size="2" data-stripe="exp_month">
                        <span> / </span>
                        <input type="text" size="2" data-stripe="exp_year">
                    </div>

                    <div class="field">
                        <label>CVC</label>
                        <input type="text" size="4" data-stripe="cvc">
                    </div>
                    <button type="submit">Submit Payment<i class="fa fa-credit-card-alt" aria-hidden="true"></i></button>
                </fieldset>
            </form>
    </section>
</div>