<div class="shell">
    <section class="main">
        <h2 current-user>Your subscription, {{currentUser.username}}</h2>
        <section class="subscription">
            <h3>Details</h3>
            <ul>
                <li class="">You signed up with Dewy on <strong>{{currentUser.created*1000 | date:'MMMM d, yyyy'}}</strong></li>
                <li class="">You are on a <strong>{{currentUser.subscription.type}}</strong> subscription</li>
                <li class="">Your subscription expires <strong>{{currentUser.subscription.endDate*1000 | date:'MMMM d, yyyy'}}</strong></li>
            </ul>
        </section>
        <section class="checkout">
            <h3>Payment via Checkout</h3>
            <form action="{{stripeEndPoint}}" method="POST">
                <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="{{stripePublicKey}}"
                    data-name="Dewy"
                    data-description="Basic subscription"
                    data-amount="3999"
                    data-label="Sign Me Up!" >
                </script>
            </form>
        </section>
        <section class="subscribe">
            <h3>Payment via Stripe.js</h3>
            <form stripe:form="saveCustomer">
                <span class="payment-errors"></span>
                <fieldset>
                    <div class="field">
                        <label>Card Number</label>
                        <input type="text" maxlength="20" data-stripe="number">
                    </div>

                    <div class="field">
                        <label>Expiration</label>
                        <input type="text" maxlength="2" data-stripe="exp-month" placeholder="MM" class="month">
                        <input type="text" maxlength="2" data-stripe="exp-year" placeholder="YY" class="year">
                    </div>

                    <div class="field">
                        <label>CVC</label>
                        <input type="text" maxlength="4" data-stripe="cvc" class="cvc">
                    </div>
                    <span class="error" ng-if="error">{{ error }}</span>
                    <button type="submit">Submit Payment<i class="fa fa-credit-card-alt" aria-hidden="true"></i></button>
                </fieldset>
            </form>
    </section>
</div>