$light-blue: #D0E2F0;
$blue: #239CF9;
$darkish-blue: #1E93EE;
$dark-blue: #337AB7;
$lightish-grey: #999;
$light-grey: #EEE;
$lighter-grey: #f6f6f6;
$grey: #666;
$red: #FA413C;
$orange: orange;
$purple: #D5639F;
$green: #A3DF71;
$white: #FFF;