// Third-party
@import '../../bower_components/reset-css/_reset';
@import '../../bower_components/breakpoint-sass/stylesheets/breakpoint';
@import '../../bower_components/singularity/stylesheets/singularitygs';
@import '../../bower_components/singularity/stylesheets/singularitygs/helpers/clearfix';

// Variables
@import 'variables/breakpoints';
@import 'variables/colours';
@import 'variables/typography';

// Modules
@import 'modules/arrows';

// Partials
@import 'partials/glyphicons';
@import 'partials/elements';
@import 'partials/shell';

// Layout
@import 'layout/body';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/signup-and-on';


section {
    &.introduction, &.feature, &.feature section, &.signup, &.signon, &.main {
        @include grid-span(24,1);
        @include clearfix;
        clear: both;
    }

    &.introduction, &.feature section, &.signup, &.signon, &.add-site, &.api-key, &.offline-sites {
        padding-top: 3em;

        @include breakpoint($mobile-large) {
            @include grid-span(20,3);
            clear: both;
        }

        @include breakpoint($desktop) {
            @include grid-span(18,4);
            clear: both;
        }
    }
}


section.introduction {
    padding-top: 3em;
    padding-bottom: 3em;

    p {
        margin-top: 1em;
        font-size: 1.4em;

        @include breakpoint($tablet) {
            @include grid-span(16,1);
        }

        @include breakpoint($desktop) {
            @include grid-span(14,1);
        }

        @include breakpoint($desktop-large) {
            @include grid-span(12,1);
        }
    }
}

section.feature {
    background-color: $white;
    color: $grey;

    h2, p {
        @include breakpoint($tablet) {
            @include grid-span(12,1);
        }

        @include breakpoint($desktop) {
            @include grid-span(10,1);
        }

        @include breakpoint($desktop-large) {
            @include grid-span(8,1);
        }
    }

    p {
        margin-top: 2em;
        font-size: 1.1em;
        clear: both;
    }

    ul {
        clear: both;
    }

    .image {
        padding: 2em 2em 0 2em;
        @include grid-span(24,1);

        @include breakpoint($tablet) {
            overflow: hidden;
            @include grid-span(10,15);
        }

        @include breakpoint($desktop) {
            @include grid-span(13,12);
            margin-right: -2em;
        }

        @include breakpoint($desktop-large) {
            @include grid-span(15,10);
            margin-right: -2em;
        }

        .screenshot {
            -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
            -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
            box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
            width: 100%;

            @include breakpoint($tablet) {
                -webkit-box-shadow: 0px 0px 2em 0px rgba(0,0,0,0.5);
                -moz-box-shadow: 0px 0px 2em 0px rgba(0,0,0,0.5);
                box-shadow: 0px 0px 2em 0px rgba(0,0,0,0.5);
            }
        }
    }

    section {
        border-bottom: solid 1px $light-blue;

        &.getstarted {
            padding-bottom: 5em;
            border-bottom: none;

            ul {
                padding: 0;

                li {
                    margin-top: 3em;
                    display: block;
                    
                    @include breakpoint($tablet) {
                        @include float-span(8);

                        &:last-child {
                            @include float-span(8,'last');
                        }
                    }

                    .step {
                        display: block;
                        background-color: $blue;
                        color: $white;
                        border-radius: 1.5em;
                        height: 1.5em;
                        width: 1.5em;
                        margin-left: auto;
                        margin-right: auto;
                        text-align: center;
                        font-size: 1.5em;
                    }

                    .instruction {
                        text-align: center;
                        display: block;
                        margin-top: 2em;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

section.add-site {
    padding-top: 0;
}

section.api-key {
    @include clearfix;

    form {
        margin-top: 2em;    
    }

    input {
        border: 1px solid $light-blue;
        text-align: center;
        border-radius: 0;
    }
}

section.offline-sites {
    ul.offline-site {
        clear: both;
        margin-top: 4em;

        li {
            display: block;
            margin-top: 0.5em;
        }

        .baseurl {
            font-weight: bold;
            margin-bottom: 0.5em;
        }

        .status {
            font-weight: bold;

            &.error {
                color: $red;
            }

            &.waiting {
                color: $blue;
            }
        }

        .buttons {
            padding-top: 1.5em;
            clear: both;
            text-align: center;
        }

        @include breakpoint($tablet) {
            li {
                margin-top: 0;
            }

            .added {
                @include grid-span(8,1);
            }

            .reported {
                @include grid-span(8,9);
            }

            .status {
                @include grid-span(8,17);
                text-align: right;
            }

            .buttons {
                text-align: left;
            }
        }
    }
}

section.main {
    padding-top: 1em;
    padding-bottom: 8em;

    h2, #titleerror, #nameerror {
        color: $blue;
        font-size: 2.5em;
        margin: 1em 0;
        float: none;

        a {
            color: $blue;
            position: relative;

            &:hover {
                color: $dark-blue;
            }

            span {
                margin-left: 0.5em;
                top: 5px;
                position: absolute;
            }
        }

        input {
            border: none;
            padding: 0;
            width: 100%;
            color: $blue;
            margin-top: -4px;
        }
    }

    #titleerror, #nameerror {
        margin-top: -1em;
        display: block;
        font-size: 0.9em;
    }

    .view {
        @include grid-span(24,1);

        @include breakpoint($desktop) {
            @include grid-span(18.75,1);
        }

        .tabs {
            text-align: center;

            @include breakpoint($tablet) {
                text-align: left;
                @include grid-span(12,1);
            }

            ul {
                margin: 0;
                padding: 0;

                li {
                    display: inline;

                    a {
                        color: $dark-blue;
                        display: inline-block;
                        padding: 0.5em 1em;
                        border: solid 1px $light-blue;

                        @include breakpoint($tablet) {
                            border-bottom: none;
                        }

                        &:hover {
                            text-decoration: none;
                            color: $white;
                            background-color: $dark-blue;
                        }
                    }

                    &.selected a {
                        color: $white;
                        background-color: $dark-blue;
                    }
                }
            }
        }

        .search {
            padding-top: 1em;
            padding-bottom: 1em;

            @include breakpoint($tablet) {
                @include grid-span(10,15);
                padding-top: 0;
                padding-bottom: 0;
            }

            form {
                position: relative;
                border: solid 1px $light-blue;

                input[type=text] {
                    width: 100%;
                    padding: 0.3em 0.5em;
                    border: none;
                    background-color: transparent;

                    &::-webkit-input-placeholder {
                        color: $dark-blue;
                    }
                    &:-moz-placeholder {
                        color: $dark-blue;
                        opacity: 1;
                    }
                    &::-moz-placeholder {
                        color: $dark-blue;
                        opacity: 1;
                    }
                    &:-ms-input-placeholder {
                        color: $dark-blue;
                    }
                }

                span {
                    position: absolute;
                    right: 0;
                    color: $blue;
                    margin-top: 4px;
                    margin-right: 6px;
                    background-color: transparent;
                }
            }
        }

        .content {
            clear: both;
            border-top: solid 1px $light-blue;
            border-left: solid 1px $light-blue;
            border-right: solid 1px $light-blue;
            border-bottom: solid 1px $light-blue;
            overflow: scroll;

            @include breakpoint($tablet) {
                overflow: hidden;
            }

            & + .content {
                margin-top: 2em;
            }

            ul.site {
                li.title {
                    background-color: $white;
                    width: 50%;
                    position: absolute;
                    z-index: 1;

                    &:after {
                        background: -webkit-linear-gradient(90deg, rgba($grey, 0.5), rgba($grey, 0));
                        background: -moz-linear-gradient(90deg, rgba($grey, 0.5), rgba($grey, 0));
                        background: -o-linear-gradient(90deg, rgba($grey, 0.5), rgba($grey, 0));
                        background: linear-gradient(90deg, rgba($grey, 0.5), rgba($grey, 0));
                        position: absolute;
                        content: "";
                        top: 0;
                        right: -1em;
                        width: 1em;
                        height: 3.5em;
                        z-index: 1;
                    }

                    @include breakpoint($tablet) {
                        @include grid-span(10,1);
                        position: relative;
                        z-index: 0;

                        &:after {
                            display: none;
                        }
                    }
                }
                    
                ul.variables {
                    margin-left: 40%;
                    width: 75%;

                    @include breakpoint($tablet) {
                        @include grid-span(14,11);
                        z-index: 0;
                    }

                    li {
                        width: 25%;
                        float: left;

                        @include breakpoint($tablet) {
                            @include float-span(6);

                            &:nth-child(4) {
                                @include float-span(6,'last');
                            }
                        }

                        a {
                            width: 100%;
                            display: block;
                            padding-left: 1em;
                            padding-right: 0;
                        }
                    }
                }

                li {
                    position: relative;

                    a {
                        padding: 0.75em 1em;
                    }
                }
            }

            .header {
                @include clearfix;
                background-color: $light-grey;
                width: 150%;

                @include breakpoint($tablet) {
                    width: 100%;
                }

                ul li {
                    &.title:after {
                        height: 2em;
                    }

                    a {
                        background-color: $light-grey;
                        color: $grey;
                        display: block;
                        width: 100%;
                        height: 100%;
                        padding: 0.5em 1em;

                        &:hover {
                            color: $light-grey;
                            background-color: $grey;
                        }

                        &.selected.desc:after {
                            @include add-arrow(down, 0.4em);
                            top: 0.8em;
                        }

                        &.selected.asc:after {
                        @include add-arrow(up, 0.4em);
                            top: 0.4em;
                        }
                    }
                }
            }

            .sites {
                clear: both;
                width: 150%;

                @include breakpoint($tablet) {
                    width: 100%;
                }

                .noresults {
                    padding-top: 1em;
                    padding-bottom: 1em;
                }

                .noresults {
                    display: block;
                    text-align: center;
                    margin: 0;
                    color: $dark-blue;

                    span {
                        margin-right: 0.5em;
                    }
                }

                .site {
                    ul.site {
                        @include clearfix;
                        clear: both;
                        height: 3.5em;

                        li {
                            .point {
                                width: 0.75em;
                                background-color: $blue;
                                height: 0.75em;
                                display: inline-block;
                                border-radius: 0.75em;
                                transition: opacity 0.3s;
                                font-size: 0.8em;
                            }

                            &.title {
                                background-color: $white;

                                a {
                                    display: block;
                                    color: $grey;
                                    padding-right: 0;

                                    &:hover {
                                        color: #000;
                                    } 

                                    span {
                                        white-space: nowrap;

                                        &.title {
                                            display: block;
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                        }

                                        &.url {
                                            font-size: 0.8em;
                                        }
                                    }
                                }

                                &.open:before {
                                    @include add-arrow(up, 0.75em);
                                    color: $light-grey;
                                    top: 2em;
                                    margin-left: 1em;
                                }
                            }

                            &.complexity, &.size, &.activity, &.health {
                                a:hover .point {
                                    background-color: $dark-blue;
                                }

                                &.open:before {
                                    @include add-arrow(up, 0.75em);
                                    color: $light-grey;
                                    top: 2em;
                                }
                            }
                        }
                    }

                    div.detail-view {
                        @include clearfix;
                        clear: both;
                        background-color: $light-grey;
                        padding: 1em;
                        width: 115%;

                        @include breakpoint($tablet) {
                            width: 100%;
                        }

                        .tags {
                            margin-bottom: 0.5em;
                            
                            li {
                                margin-right: 1em;
                                display: block;
                                float: left;
                            }
                        }
                    }
                }
            }

            .rules, .notifications, .total {
                padding: 1em;


                div > .rule-group, .notification-choices {
                    margin-top: 1em;
                    padding-left: 1.5em;
                }

                .notification-choices {
                    margin-top: 1.5em;
                }

                .rule-group {
                    background-color: rgba($blue, 0.2);
                    padding: 0.5em 1.5em;
                    margin-left: -1.5em;
                    margin-right: -1.5em;

                    @include breakpoint($tablet) {
                        background-color: transparent;
                        padding: 0;
                        margin-left: 0;
                        margin-right: 0;
                    }
                }

                .rule-group-placeholder {
                    height: 3px;
                    background-color: $blue;
                    display: block;
                    margin: -5px 0 -5px 0;
                    padding: 0;
                }

                .notification-choices li {
                    display: block;

                    select, input {
                        margin: 0;
                    }
                }

                .rule, .rule-group-heading {
                    position: relative;
                    display: block;
                    margin-top: 0.5em;
                    margin-bottom: 0.5em;

                    &:after {
                        content: ".";
                        display: block;
                        height: 0;
                        clear: both;
                        visibility: hidden;
                    }

                    .buttons {
                        margin-top: 0.5em;
                        margin-bottom: 1em;
                        text-align: center;

                        @include breakpoint($tablet) {
                            margin-top: 0;
                            position: absolute;
                            right: 0;
                            top: 0;
                        }

                        button, a.button {
                            margin-left: 0.25em;
                            background-color: $white;

                            @include breakpoint($tablet) {
                                background-color: $light-grey;

                                &:hover {
                                    background-color: $grey;
                                }
                            }
                        }
                    }

                    .handle {
                        display: none;

                        @include breakpoint($tablet) {
                            color: $light-grey;
                            display: inline-block;
                        }

                        &:hover {
                            cursor: grab;
                            cursor: -webkit-grab; 
                            cursor: -moz-grab;
                        }
                    }
                }

                .rule-group-heading.top {
                    margin-top: 0;
                }

                .rule-group-heading {
                    margin-top: 0.5em;
                    margin-bottom: 0.5em;

                    span.label {
                        margin-top: 1em;
                        margin-bottom: 0.5em;
                        font-weight: bold;
                        display: block;

                        @include breakpoint($tablet) {
                            display: inline;
                            margin-top: 0;
                            margin-bottom: 0;
                            font-size: 0.85em;
                        }
                    }
                }

                .rule {
                    width: 100%;
                    margin-top: 0.5em;

                    @include breakpoint($tablet) {
                        select, input {
                            width: auto;
                            margin-top: 0;
                        }
                    }
                }

                select, input {
                    @include breakpoint($tablet) {
                        font-size: 0.85em;
                    }
                }

                .total {
                    margin: 2em 0 0 0;
                    font-weight: bold;
                }

                .error span {
                    margin-top: 0.5em;
                    @extend .error;
                }
            }
        }
    }
}

.context {
    @include grid-span(24,1);
    padding-bottom: 1em;

    @include breakpoint($desktop) {
        @include grid-span(5,20);
    }

    select.folders {
        display: inline;
        width: 100%;

        @include breakpoint($desktop) {
            display: none;
        }
    }

    ul.folders {
        margin: 0;
        padding-left: 0;
        display: none;

        @include breakpoint($desktop) {
            display: block;
        }

        li {
            display: inline;

            a {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: block;
                padding: 0.35em 0 0.35em 1.5em;
                font-weight: bold;
                // border-left: 1px solid $light-blue;

                &.selected {
                    // border-left: none;
                    // border-top: 1px solid $light-blue;
                    // border-bottom: 1px solid $light-blue;
                    // border-right: 1px solid $light-blue;
                    color: $grey;
                }

                &.folder {
                    &:before {
                        margin-left: -1.25em;
                        margin-right: 0.4em;
                        display: inline-block;
                        width: 0;
                        height: 0;
                        content: "";
                        vertical-align: -1px;
                        border: 6px solid;
                        border-right-color: transparent;
                        border-top-color: transparent;
                        border-bottom-color: transparent;
                    }

                    &.open:before {
                        margin-left: -1.5em;
                        margin-right: 0.65em;
                        display: inline-block;
                        width: 0;
                        height: 0;
                        content: "";
                        vertical-align: -5px;
                        border: 6px solid;
                        border-right-color: transparent;
                        border-left-color: transparent;
                        border-bottom-color: transparent;
                    }
                }
            }
        }

        &.folders li > ul li a {
            padding-left: 2.5em;
        }

        &.folders li > ul li > ul li a {
            padding-left: 4.5em;
        }

        &.folders li > ul li > ul li > ul li a {
            padding-left: 6.5em;
        }

        & + .actions {
            margin-top: 1em;

            @include breakpoint($tablet) {
                margin-top: 2em;
            }
        }
    }

    .actions {
        button, a.button {
            margin-bottom: 0.5em;
            text-align: left;
            display: block;
            width: 100%;

            @include breakpoint($tablet) {
                margin-bottom: 0.25em;
                @include float-span(8);

                &:nth-child(3n) {
                    @include float-span(8,'last');
                }
            }

            @include breakpoint($desktop) {
                @include grid-span(24,1);

                &:nth-child(3n) {
                    @include grid-span(24,1);
                }
            }

            span {
                float: right;
                margin-top: 1px;
            }
        }
    }
}


// Animations
div.site.ng-enter,
.detail-view.ng-leave,
{
    transition: 0 ease all;
    position: relative;
    display: block;
}

.rule.ng-enter, 
.rule.ng-leave,
.detail-view.ng-enter, 
.detail-view div.ng-enter,
div.site.ng-leave,
.noresults.ng-enter, 
.noresults.ng-leave
{ 
    transition: 400ms ease all;
    position: relative;
    display: block;
} 

.rule.ng-enter.ng-enter-active, 
.rule.ng-leave,
.detail-view div.ng-enter.ng-enter-active, 
.detail-view div.ng-leave,
{
    opacity: 1;
    top: 0;
}

.rule.ng-leave.ng-leave-active,
.rule.ng-enter,
.detail-view div.ng-leave.ng-leave-active,
.detail-view div.ng-enter,
{
    opacity: 0;
    top: -50px;
}

.noresults.ng-enter.ng-enter-active, 
.noresults.ng-leave,
div.site.ng-enter.ng-enter-active,
div.site.ng-leave,
.detail-view.ng-enter.ng-enter-active, 
.detail-view.ng-leave,

{
    opacity: 1;
}

.noresults.ng-leave.ng-leave-active,
.noresults.ng-enter,
div.site.ng-leave.ng-leave-active,
div.site.ng-enter,
.detail-view.ng-leave.ng-leave-active,
.detail-view.ng-enter,

{
    opacity: 0;
}