// Third-party
@import '../../bower_components/reset-css/_reset';
@import '../../bower_components/breakpoint-sass/stylesheets/breakpoint';
@import '../../bower_components/singularity/stylesheets/singularitygs';
@import '../../bower_components/singularity/stylesheets/singularitygs/helpers/clearfix';

// Variables
@import 'variables/breakpoints';
@import 'variables/colours';
@import 'variables/typography';

// Modules
@import 'modules/arrows';

// Partials
@import 'partials/glyphicons';
@import 'partials/elements';
@import 'partials/shell';

// Layout
* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    @include add-grid(24);
    @include add-gutter(1/3);

    height: 100%;
    background-color: $blue;
    color: $grey;
    font-size: 10px;
    font-family: $body-font;

    @include breakpoint($mobile-large) {
        font-size: 11px;
    }

    @include breakpoint($tablet) {
        font-size: 12px;
    }

    @include breakpoint($desktop) {
        font-size: 13px;
    }

    @include breakpoint($desktop-medium) {
        font-size: 14px;
    }

    @include breakpoint($desktop-large) {
        font-size: 15px;
    }

    @include breakpoint($desktop-extra-large) {
        font-size: 16px;
    }

    .wrapper {
        min-height: 100%;
        position: relative;
        background-color: $white;
        @include clearfix;
    }

    &.index {
        background-color: $white;
        color: $white;

        .wrapper {
            background: radial-gradient(center center, 50% 70%, $blue 70%, $darkish-blue);
            background: -webkit-radial-gradient(center center, 50% 70%, $blue 70%, $darkish-blue);
            background: -o-radial-gradient(center center, 50% 70%, $blue 70%, $darkish-blue);
            background: -ms-radial-gradient(center center, 50% 70%, $blue 70%, $darkish-blue);
            background-attachment: fixed;
        }

        header, footer {
            background-color: transparent;
            color: $light-blue;

            ul li a {
                color: $white;

                &:hover {
                    color: $light-blue;
                    background-color: transparent;
                }
            }
        }

        header {
            border-top-color: $white;

            #menu-toggle {
                color: $white;
            }
        }
    }
}

header {
    @include clearfix;
    border-top: 5px solid $blue;
    background-color: $light-grey;

    nav {
        #menu-toggle-value + div {
            display: none;

            @include breakpoint($tablet) {
                display: block;
            }
        }

        #menu-toggle-value:checked + div {
            display: block;
        }

        ul {
            text-align: right;

            @include breakpoint($tablet) {
                @include grid-span(24,1);
            }

            li {
                display: inline;
                position: relative;

                a {
                    text-align: center;
                    display: block;
                    padding: 0.75em 1em;
                    margin-top: 0.5em;
                    width: 100%;

                    font-size: 1.2em;

                    @include breakpoint($tablet) {
                        display: inline-block;
                        width: auto;
                        background-color: transparent;
                        border-radius: none;
                        margin-top: 0;
                        font-size: 1em;
                    }

                    &.icon {
                        padding-left: 3.5em;
                    }

                    &:hover {
                        color: $blue;
                        background-color: $white;

                        @include breakpoint($tablet) {
                            color: $dark-blue;
                            background-color: transparent;
                        }
                    }

                    img {
                        max-width: 2em;
                        border-radius: 1em;
                        margin-right: 0.5em;
                        left: 1em;
                        margin-top: -0.5em;
                        position: absolute;
                    }

                    &.drop {
                        padding-right: 1.9em;
                        display: none;

                        @include breakpoint($tablet) {
                            display: inline-block;
                        }

                        &:after {
                            @include add-arrow(down, 0.4em);
                        }
                    }
                }

                &.dropped {

                    > a {
                        background-color: $white;
                        color: $dark-blue;
                    }
                        
                    .dropdown {
                        display: block;
                    }
                }
            }

            &.dropdown {
                margin: 0;
                padding: 0;
                background-color: $light-grey;
                width: 100%;
                z-index: 1;

                li a {
                    display: block;

                    @include breakpoint($tablet) {
                        text-align: left;
                    }
                }

                @include breakpoint($tablet) {
                    position: absolute;
                    display: none;
                    right: 0;
                    text-align: left;
                    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.25);
                }
            }

            &.home {
                margin-top: 1em;
                margin-bottom: 1em;

                li a {
                    border-radius: 0.25em;

                    &:hover {
                        background-color: $white;
                        color: $blue;
                    }

                    @include breakpoint($tablet) {
                        &:hover {
                            background-color: transparent;
                            color: $light-blue;
                        }

                        &.important {
                            border: 3px $white solid;
                            border-radius: 0.6em;
                            padding: 0.25em 1em;

                            &:hover {
                                background-color: $white;
                                color: $blue;
                            }
                        }
                    }
                }
            }
        }

        .logo {
            @include grid-span(4,1);
            margin-top: 0.75em;

            @include breakpoint($tablet) {
                position: absolute;
            }

            img {
                max-width: 72px;

                @include breakpoint($tablet) {
                    max-width: 80px;
                }

                @include breakpoint($desktop) {
                    max-width: 96px;
                }

                @include breakpoint($desktop-extra-large) {
                    max-width: 112px;
                }
            }
        }

        #menu-toggle {
            color: $blue;
            cursor: pointer;
            float: right;
            margin-top: 1em;

            span {
                font-size: 2em;
            }
        
            @include breakpoint($tablet) {
                display: none;
            }
        }

        #menu-toggle-value {
            visibility: hidden;
            height: 0;
            width: 0;
            position: absolute;
        }
    }
}

section {
    &.signon {
        padding-top: 2em;
        padding-bottom: 5em;
    }

    &.introduction, &.feature, &.feature section, &.signup, &.signon, &.main {
        @include grid-span(24,1);
        @include clearfix;
        clear: both;
    }

    &.introduction, &.feature section, &.signup, &.signon {
        padding-top: 3em;

        @include breakpoint($mobile-large) {
            @include grid-span(20,3);
            clear: both;
        }

        @include breakpoint($desktop) {
            @include grid-span(18,4);
            clear: both;
        }
    }

    &.introduction {
        padding-top: 3em;
        padding-bottom: 3em;

        p {
            margin-top: 1em;
            font-size: 1.4em;

            @include breakpoint($tablet) {
                @include grid-span(16,1);
            }

            @include breakpoint($desktop) {
                @include grid-span(14,1);
            }

            @include breakpoint($desktop-large) {
                @include grid-span(12,1);
            }
        }
    }

    &.feature {
        background-color: $white;
        color: $grey;

        h2, p {
            @include breakpoint($tablet) {
                @include grid-span(12,1);
            }

            @include breakpoint($desktop) {
                @include grid-span(10,1);
            }

            @include breakpoint($desktop-large) {
                @include grid-span(8,1);
            }
        }

        p {
            margin-top: 2em;
            font-size: 1.1em;
            clear: both;
        }

        ul {
            clear: both;
        }

        .image {
            padding: 2em 2em 0 2em;
            @include grid-span(24,1);

            @include breakpoint($tablet) {
                overflow: hidden;
                @include grid-span(10,15);
            }

            @include breakpoint($desktop) {
                @include grid-span(13,12);
                margin-right: -2em;
            }

            @include breakpoint($desktop-large) {
                @include grid-span(15,10);
                margin-right: -2em;
            }

            .screenshot {
                -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
                -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
                box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
                width: 100%;

                @include breakpoint($tablet) {
                    -webkit-box-shadow: 0px 0px 2em 0px rgba(0,0,0,0.5);
                    -moz-box-shadow: 0px 0px 2em 0px rgba(0,0,0,0.5);
                    box-shadow: 0px 0px 2em 0px rgba(0,0,0,0.5);
                }
            }
        }

        section {
            border-bottom: solid 1px $light-blue;

            &.getstarted {
                padding-bottom: 5em;
                border-bottom: none;

                ul {
                    padding: 0;

                    li {
                        margin-top: 3em;
                        display: block;
                        
                        @include breakpoint($tablet) {
                            @include float-span(8);

                            &:last-child {
                                @include float-span(8,'last');
                            }
                        }

                        .step {
                            display: block;
                            background-color: $blue;
                            color: $white;
                            border-radius: 1.5em;
                            height: 1.5em;
                            width: 1.5em;
                            margin-left: auto;
                            margin-right: auto;
                            text-align: center;
                            font-size: 1.5em;
                        }

                        .instruction {
                            text-align: center;
                            display: block;
                            margin-top: 2em;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }

    &.signup {
        padding-top: 1em;
        padding-bottom: 8em;
    }

    &.main {
        padding-top: 1em;
        padding-bottom: 4em;

        h2, #titleerror, #nameerror {
            color: $blue;
            font-size: 1.8em;
            margin: 1em 0;
            float: none;

            a {
                color: $blue;
                position: relative;

                &:hover {
                    color: $dark-blue;
                }

                span {
                    margin-left: 0.5em;
                    top: 5px;
                    position: absolute;
                }
            }

            input {
                border: none;
                padding: 0;
                width: 100%;
                color: $blue;
                margin-top: -4px;
            }
        }

        #titleerror, #nameerror {
            margin-top: -1em;
            display: block;
            font-size: 0.9em;
        }

        .view {
            @include grid-span(24,1);

            @include breakpoint($desktop) {
                @include grid-span(18.75,1);
            }

            .tabs {
                text-align: center;

                @include breakpoint($tablet) {
                    text-align: left;
                    @include grid-span(12,1);
                }

                ul {
                    margin: 0;
                    padding: 0;

                    li {
                        display: inline;

                        a {
                            color: $dark-blue;
                            display: inline-block;
                            padding: 0.5em 1em;
                            border: solid 1px $light-blue;

                            @include breakpoint($tablet) {
                                border-bottom: none;
                            }

                            &:hover {
                                text-decoration: none;
                                color: $white;
                                background-color: $dark-blue;
                            }
                        }

                        &.selected a {
                            color: $white;
                            background-color: $dark-blue;
                        }
                    }
                }
            }

            .search {
                padding-top: 1em;
                padding-bottom: 1em;

                @include breakpoint($tablet) {
                    @include grid-span(10,15);
                    padding-top: 0;
                    padding-bottom: 0;
                }

                form {
                    position: relative;
                    border: solid 1px $light-blue;

                    input[type=text] {
                        width: 100%;
                        padding: 0.3em 0.5em;
                        border: none;
                        background-color: transparent;

                        &::-webkit-input-placeholder {
                            color: $dark-blue;
                        }
                        &:-moz-placeholder {
                            color: $dark-blue;
                            opacity: 1;
                        }
                        &::-moz-placeholder {
                            color: $dark-blue;
                            opacity: 1;
                        }
                        &:-ms-input-placeholder {
                            color: $dark-blue;
                        }
                    }

                    span {
                        position: absolute;
                        right: 0;
                        color: $blue;
                        margin-top: 4px;
                        margin-right: 6px;
                        background-color: transparent;
                    }
                }
            }

            .content {
                clear: both;
                border-top: solid 1px $light-blue;
                border-left: solid 1px $light-blue;
                border-right: solid 1px $light-blue;
                border-bottom: solid 1px $light-blue;
                overflow: scroll;

                @include breakpoint($tablet) {
                    overflow: hidden;
                }

                & + .content {
                    margin-top: 2em;
                }

                ul.site {
                    li.title {
                        background-color: $white;
                        width: 50%;
                        position: absolute;
                        z-index: 1;

                        &:after {
                            background: -webkit-linear-gradient(90deg, rgba($grey, 0.5), rgba($grey, 0));
                            background: -moz-linear-gradient(90deg, rgba($grey, 0.5), rgba($grey, 0));
                            background: -o-linear-gradient(90deg, rgba($grey, 0.5), rgba($grey, 0));
                            background: linear-gradient(90deg, rgba($grey, 0.5), rgba($grey, 0));
                            position: absolute;
                            content: "";
                            top: 0;
                            right: -1em;
                            width: 1em;
                            height: 3.5em;
                            z-index: 1;
                        }

                        @include breakpoint($tablet) {
                            @include grid-span(10,1);
                            position: relative;
                            z-index: 0;

                            &:after {
                                display: none;
                            }
                        }

                        h3 {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }
                        
                    ul.variables {
                        margin-left: 40%;
                        width: 75%;

                        @include breakpoint($tablet) {
                            @include grid-span(14,11);
                            z-index: 0;
                        }

                        li {
                            width: 25%;
                            float: left;

                            @include breakpoint($tablet) {
                                @include float-span(6);

                                &:nth-child(4) {
                                    @include float-span(6,'last');
                                }
                            }

                            a {
                                width: 100%;
                                display: block;
                                padding-left: 1em;
                                padding-right: 0;
                            }
                        }
                    }

                    li {
                        position: relative;

                        a {
                            padding: 0.75em 1em;
                        }
                    }
                }

                .header {
                    @include clearfix;
                    background-color: $light-grey;
                    width: 150%;

                    @include breakpoint($tablet) {
                        width: 100%;
                    }

                    ul li {
                        &.title:after {
                            height: 2em;
                        }

                        a {
                            background-color: $light-grey;
                            color: $grey;
                            display: block;
                            width: 100%;
                            height: 100%;
                            padding: 0.5em 1em;

                            &:hover {
                                color: $light-grey;
                                background-color: $grey;
                            }

                            &.selected.desc:after {
                                @include add-arrow(down, 0.4em);
                                top: 0.8em;
                            }

                            &.selected.asc:after {
                            @include add-arrow(up, 0.4em);
                                top: 0.4em;
                            }
                        }
                    }
                }

                .sites {
                    clear: both;
                    width: 150%;

                    @include breakpoint($tablet) {
                        width: 100%;
                    }

                    .noresults {
                        padding-top: 1em;
                        padding-bottom: 1em;
                    }

                    .noresults {
                        display: block;
                        text-align: center;
                        margin: 0;
                        color: $dark-blue;

                        span {
                            margin-right: 0.5em;
                        }
                    }

                    .site {
                        ul.site {
                            @include clearfix;
                            clear: both;
                            height: 3.5em;

                            li {
                                .point {
                                    width: 0.75em;
                                    background-color: $blue;
                                    height: 0.75em;
                                    display: inline-block;
                                    border-radius: 0.75em;
                                    transition: opacity 0.3s;
                                    font-size: 0.8em;
                                }

                                &.title {
                                    background-color: $white;

                                    a {
                                        display: block;
                                        color: $grey;
                                        padding-right: 0;

                                        &:hover {
                                            color: #000;
                                        } 

                                        span {
                                            font-size: 0.85em;
                                            white-space: nowrap;
                                        }
                                    }

                                    &.open:before {
                                        @include add-arrow(up, 0.75em);
                                        color: $light-grey;
                                        top: 2em;
                                        margin-left: 1em;
                                    }
                                }

                                &.complexity, &.size, &.activity, &.health {
                                    a:hover .point {
                                        background-color: $dark-blue;
                                    }

                                    &.open:before {
                                        @include add-arrow(up, 0.75em);
                                        color: $light-grey;
                                        top: 2em;
                                    }
                                }
                            }
                        }

                        div.detail-view {
                            @include clearfix;
                            clear: both;
                            background-color: $light-grey;
                            padding: 1em;
                            width: 115%;

                            @include breakpoint($tablet) {
                                width: 100%;
                            }

                            .tags {
                                margin-bottom: 0.5em;
                                
                                li {
                                    margin-right: 1em;
                                    display: block;
                                    float: left;
                                }
                            }
                        }
                    }
                }

                .rules, .notifications, .total {
                    padding: 1em;


                    div > .rule-group, .notification-choices {
                        margin-top: 1em;
                        padding-left: 1.5em;
                    }

                    .notification-choices {
                        margin-top: 1.5em;
                    }

                    .rule-group {
                        background-color: rgba($blue, 0.2);
                        padding: 0.5em 1.5em;
                        margin-left: -1.5em;
                        margin-right: -1.5em;

                        @include breakpoint($tablet) {
                            background-color: transparent;
                            padding: 0;
                            margin-left: 0;
                            margin-right: 0;
                        }
                    }

                    .rule-group-placeholder {
                        height: 3px;
                        background-color: $blue;
                        display: block;
                        margin: -5px 0 -5px 0;
                        padding: 0;
                    }

                    .notification-choices li {
                        display: block;

                        select, input {
                            margin: 0;
                        }
                    }

                    .rule, .rule-group-heading {
                        position: relative;
                        display: block;
                        margin-top: 0.5em;
                        margin-bottom: 0.5em;

                        &:after {
                            content: ".";
                            display: block;
                            height: 0;
                            clear: both;
                            visibility: hidden;
                        }

                        .buttons {
                            margin-top: 0.5em;
                            margin-bottom: 1em;
                            text-align: center;

                            @include breakpoint($tablet) {
                                margin-top: 0;
                                position: absolute;
                                right: 0;
                                top: 0;
                            }

                            button, a.button {
                                margin-left: 0.25em;
                                background-color: $white;

                                @include breakpoint($tablet) {
                                    background-color: $light-grey;

                                    &:hover {
                                        background-color: $grey;
                                    }
                                }
                            }
                        }

                        .handle {
                            display: none;

                            @include breakpoint($tablet) {
                                color: $light-grey;
                                display: inline-block;
                            }

                            &:hover {
                                cursor: grab;
                                cursor: -webkit-grab; 
                                cursor: -moz-grab;
                            }
                        }
                    }

                    .rule-group-heading.top {
                        margin-top: 0;
                    }

                    .rule-group-heading {
                        margin-top: 0.5em;
                        margin-bottom: 0.5em;

                        span.label {
                            margin-top: 1em;
                            margin-bottom: 0.5em;
                            font-weight: bold;
                            display: block;

                            @include breakpoint($tablet) {
                                display: inline;
                                margin-top: 0;
                                margin-bottom: 0;
                                font-size: 0.85em;
                            }
                        }
                    }

                    .rule {
                        width: 100%;
                        margin-top: 0.5em;

                        @include breakpoint($tablet) {
                            select, input {
                                width: auto;
                                margin-top: 0;
                            }
                        }
                    }

                    select, input {
                        @include breakpoint($tablet) {
                            font-size: 0.85em;
                        }
                    }

                    .total {
                        margin: 2em 0 0 0;
                        font-weight: bold;
                    }

                    .error span {
                        margin-top: 0.5em;
                        @extend .error;
                    }
                }
            }
        }

        .context {
            @include grid-span(24,1);
            padding-bottom: 1em;

            @include breakpoint($desktop) {
                @include grid-span(5,20);
            }

            select.folders {
                display: inline;
                width: 100%;

                @include breakpoint($desktop) {
                    display: none;
                }
            }

            ul.folders {
                margin: 0;
                padding-left: 0;
                display: none;

                @include breakpoint($desktop) {
                    display: block;
                }

                li {
                    display: inline;

                    a {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        display: block;
                        padding: 0.35em 0 0.35em 1.5em;
                        font-weight: bold;
                        // border-left: 1px solid $light-blue;

                        &.selected {
                            // border-left: none;
                            // border-top: 1px solid $light-blue;
                            // border-bottom: 1px solid $light-blue;
                            // border-right: 1px solid $light-blue;
                            color: $grey;
                        }

                        &.folder {
                            &:before {
                                margin-left: -1.25em;
                                margin-right: 0.4em;
                                display: inline-block;
                                width: 0;
                                height: 0;
                                content: "";
                                vertical-align: -1px;
                                border: 6px solid;
                                border-right-color: transparent;
                                border-top-color: transparent;
                                border-bottom-color: transparent;
                            }

                            &.open:before {
                                margin-left: -1.5em;
                                margin-right: 0.65em;
                                display: inline-block;
                                width: 0;
                                height: 0;
                                content: "";
                                vertical-align: -5px;
                                border: 6px solid;
                                border-right-color: transparent;
                                border-left-color: transparent;
                                border-bottom-color: transparent;
                            }
                        }
                    }
                }

                &.folders li > ul li a {
                    padding-left: 2.5em;
                }

                &.folders li > ul li > ul li a {
                    padding-left: 4.5em;
                }

                &.folders li > ul li > ul li > ul li a {
                    padding-left: 6.5em;
                }

                & + .actions {
                    margin-top: 1em;

                    @include breakpoint($tablet) {
                        margin-top: 2em;
                    }
                }
            }

            .actions {
                button, a.button {
                    margin-bottom: 0.5em;
                    text-align: left;
                    display: block;
                    width: 100%;

                    @include breakpoint($tablet) {
                        margin-bottom: 0.25em;
                        @include float-span(8);

                        &:nth-child(3n) {
                            @include float-span(8,'last');
                        }
                    }

                    @include breakpoint($desktop) {
                        @include grid-span(24,1);

                        &:nth-child(3n) {
                            @include grid-span(24,1);
                        }
                    }

                    span {
                        float: right;
                        margin-top: 1px;
                    }
                }
            }
        }
    }

    form.signon, form.signup {
        @include clearfix;
        color: $white;
        margin-top: 3em;

        span.error {
            margin-top: 0.25em;
            margin-bottom: 0.5em;
            color: $white;
        }

        fieldset {
            @include grid-span(24,1);

            @include breakpoint($tablet) {
                @include grid-span(16,5);
            }

            @include breakpoint($desktop) {
                @include grid-span(12,7);
            }

            span.messages {
                display: block;
                font-weight: bold;
                margin-bottom: 1.5em;
            }

            input {
                width: 100%;
                padding: 0.5em;
                border-radius: 0.25em;
                border: none;
                color: $grey;

                & + input {
                    margin-top: 0.5em;
                }
            }

            label.remember {
                margin-top: 0.5em;
                display: block;
                width: 100%;

                input {
                    width: auto;
                }
            }
        }

        button {
            @include grid-span(12,7);
            margin-top: 2em;
            color: $white;
            padding: 0.25em;
            border-radius: 0.5em;
            border: solid 0.25em $white;
            font-size: 1.2em;
            background-color: transparent;

            &:hover {
                background-color: $white;
                color: $blue;
            }
        }
    }
}

footer {
    position: absolute;
    bottom: 0;
    background-color: $light-grey;
    width: 100%;

    ul li {
        display: inline;

        span, a {
            display: inline-block;
            padding: 0.5em 0;
            margin-right: 1em;
        }
    }
}

// Animations
div.site.ng-enter,
.detail-view.ng-leave,
{
    transition: 0 ease all;
    position: relative;
    display: block;
}

.rule.ng-enter, 
.rule.ng-leave,
.detail-view.ng-enter, 
.detail-view div.ng-enter,
div.site.ng-leave,
.noresults.ng-enter, 
.noresults.ng-leave
{ 
    transition: 400ms ease all;
    position: relative;
    display: block;
} 

.rule.ng-enter.ng-enter-active, 
.rule.ng-leave,
.detail-view div.ng-enter.ng-enter-active, 
.detail-view div.ng-leave,
{
    opacity: 1;
    top: 0;
}

.rule.ng-leave.ng-leave-active,
.rule.ng-enter,
.detail-view div.ng-leave.ng-leave-active,
.detail-view div.ng-enter,
{
    opacity: 0;
    top: -50px;
}

.noresults.ng-enter.ng-enter-active, 
.noresults.ng-leave,
div.site.ng-enter.ng-enter-active,
div.site.ng-leave,
.detail-view.ng-enter.ng-enter-active, 
.detail-view.ng-leave,

{
    opacity: 1;
}

.noresults.ng-leave.ng-leave-active,
.noresults.ng-enter,
div.site.ng-leave.ng-leave-active,
div.site.ng-enter,
.detail-view.ng-leave.ng-leave-active,
.detail-view.ng-enter,

{
    opacity: 0;
}